a:hover,
[type=checkbox]:not(:checked)+label:after,
[type=checkbox]:checked+label:after,
#main-nav .navbar-nav .dropdown-menu>li>a:hover,
.signin-wrapper .bottom-links a,
.signup-wrapper .bottom-links a,
.forgetpassword-wrapper .bottom-links a,
.pricing-table-2 .plan.featured .plan-price:before,
.pagination ul li a:hover,
.icon-box i,
.icon-box2 i,
.features-tab li a.active .icon-wrapper,
.features-tab li a:hover .icon-wrapper,
.contact-page .details-wrapper ul.contact-details li i,
.bloglist-post-holder .bloglist-title a:hover,
.blog-post .post-content a.read-more {
    color: #e50914
}

.owl-dots .owl-dot.active span,
.loading .loading-effect .object,
.btn-main,
#backtotop a,
.play-video,
.pricing-table-2 .plan.featured .plan-price,
.pagination ul li a.current-page,
.pagination ul li a.current-page:hover,
.layout-switcher a:hover,
.layout-switcher a.active,
.mm-counter {
    background: #e50914
}

.btn-second {
    background: #a11f3c
}

.overlay-gradient .slotholder:after,
.overlay-gradient:after,
.blog-post .blog-thumb a:before,
ul.blog-posts-widget .blog-content .blog-thumb a:before,
.celebrity-list-1 .celebrity-image a:before,
.celebrity-grid-1 .celebrity-image a:before,
.bloglist-post-holder .bloglist-thumb-link .bloglist-post-thumbnail:after,
.movie-box-1 .poster:before,
.movie-detail-intro2 .movie-poster:before {
    background: -webkit-gradient(linear, left top, left bottom, from(#101113), to(#2a3642));
    background: -webkit-linear-gradient(bottom, #2a3642 0%, #101113 100%);
    background: -o-linear-gradient(bottom, #2a3642 0%, #101113 100%);
    background: linear-gradient(to bottom, #101113 0%, #2a3642 100%)
}

#movie-posterset {
    position: relative;
}

#auto_play {
    position: absolute;
    padding-top: 5px;
    display: inline-block;
    background-color: #e50914;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 38px;
    transition: background-color .3s;
    border: 1px solid #e50914;
    color: white;
    font-size: 24px;
    padding-left: 4px;
    left: 12%;
    top: 43%;
}

#video_notshow {
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

#gotobottom {
    position: absolute;
    margin-left: 47%;
    margin-top: -65px;
    z-index: 90;
    display: inline-block;
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: background-color .3s;
    color: white;
}

.modal-box {
    display: none;
    position: fixed;
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-form-inner {
    /* width: 400px; */
    max-width: 500px;
    padding: 50px;
    background-color: rgba(0, 0, 0, .85);
    margin: 0 auto;
    padding-bottom: 80px;
}

.modal-box header,
.modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
    margin: 0;
}

.modal-box .modal-body {
    padding: 2em 1.5em;
}

.modal-box footer,
.modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
}

.modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    left: 0;
    z-index: 900;
    width: 400px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb;
}

a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}

.userFormGroup {
    position: relative;
}

.userFormGroup .form-control {
    color: white !important;
    height: 54px;
    line-height: 50px;
    border-radius: 4px;
    background: #333 !important;
    border: none !important;
    padding-bottom: 15px !important;
}

.form-control-placeholder {
    color: #dcdfe0;
    position: absolute;
    top: 0;
    padding: 13px 0 0 13px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 18px;
}

.form-btn {
    background: #E50914;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    border-radius: 4px;
    line-height: 1em;
    letter-spacing: 1px;
    height: 40px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
   /* font-family: "Times New Roman", Times, serif !important;*/
}

.login-tit {
    margin-top: 0;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
    line-height: 1.1;
    /*font-family: "Times New Roman", Times, serif;*/
}

#sign_up {
    display: none;
}

#forget_password {
    display: none;
}

@media (min-width: 32em) {
    .modal-box {
        width: 400px;
    }
}