.home-pg-movie .latest-movies .movie-box-1,
.home-pg-movie .latest-movies .movie-box-1 .poster,
.home-pg-movie .latest-movies .movie-box-1 .poster img {}

.home-pg-movie .latest-movies .item {
    margin-bottom: 30px;
}

@media all and (min-width:992px) and (max-width:1024px) {
    .hamburger {
        width: 100%;
        text-align: right
    }
}

@media(max-width:1024px) {
    header.header-fixed {
        padding: 0px !important;
    }
    .d-flex {
        display: block!important
    }
    #main-nav .navbar-nav {
        display: none
    }
    .hamburger {
        display: inline-block
    }
    .footer-copyright-area {
        text-align: center
    } 
}

@media(max-width:992px) {
    #slider .tab-content #overview .linear {
        left: 29%;
    }
    #slider .tab-content #details .details_tabdiv {
        height: 1000px;
    }
    #slider .otmd_div .otmd {
        left: 9%;
    }
    /* #slider .tab-content #overview .overview_playicon {
    bottom: 85%;
} */
    #slider .tab-content #overview .overview_datadiv .overview_title {
        font-size: 40px;
    }
    /* .header.header-transparent .navbar-brand{
	padding-left: 5px !important;
    } */
    .header.header .navbar-nav .nav-link-btn {
        margin-right: 4px;
    }
    .header.header-transparent .navbar #btn_search {
        right: 13% !important;
    }
    .header.header-transparent .navbar #div_typesearch input {
        margin-top: 70px !important;
    }
}

.mm-slideout #header_section .header-fixed {
    padding: 0px !important;
}

.movie-detail-intro2 .movie-details {
    /*margin-left: 10px;*/
}

.coming-soon,
.login-register-page {
    min-height: 100vh;
    height: auto
}

.icon-box.with-line:before,
section.upcoming-movies .upcoming-item .movie-details {
    display: none
}

footer.footer1 .footer-widget-area .col-md-6 {
    margin-bottom: 50px
}

footer.footer1 .footer-widget-area .col-md-6:nth-child(3),
footer.footer1 .footer-widget-area .col-md-6:nth-child(4) {
    margin-bottom: 0
}

.coming-soon .container {
    padding-top: 50px;
    padding-bottom: 50px;
    top: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.login-register-page .container {
    padding-top: 150px;
    padding-bottom: 50px;
    top: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.features .features-wrapper {
    padding: 100px 50px
}

.movie-detail-main .inner {
    padding: 0
}

.movie-detail-intro2 .movie-poster {
    margin-right: 0
}

.movie-detail-intro2 .rate-movie {
    border: 1px solid #3e4555
}

.celebrity-list-1 .celebrity-image {
    flex: 2
}

.celeb-detail .celeb-details .bio-description,
.celeb-detail .celeb-details .bio-details {
    width: 100%;
    float: none
}

.celeb-detail .celeb-details .bio-details {
    margin-top: 50px
}

@media all and (max-width:767px) {
    .welcome-block {
        padding: 20px 0;
    }
    .welcome-block h6 {
        margin-top: 0;
    }
    .home-pg-movie .latest-movies .movie-box-1,
    .home-pg-movie .latest-movies .movie-box-1 .poster,
    .home-pg-movie .latest-movies .movie-box-1 .poster img {
        height: 250px;
    }
    .movie-detail-intro2 .movie-details,
    .movie-detail-intro2 .movie-details .title {
        color: white;
    }
    .timeline .main-line,
    .timeline .timeline-image-wrapper,
    .timeline .timeline-step:last-child:after,
    .timeline .timeline-step:last-child:before,
    .upcoming-movies .movie-box-1 .movie-details,
    section.latest-movies .btn,
    section.latest-tvshows .btn {
        display: none
    }
    .celebrity-list-1 .celebrity-image,
    .movie-list-1 .listing-image {
        max-height: 300px;
        overflow: hidden
    }
    section.latest-movies .title,
    section.latest-tvshows .title {
        text-align: center
    }
    .upcoming-movies .movie-box-1.upcoming-featured-item {
        margin-bottom: 20px
    }
    .timeline {
        margin-top: 50px
    }
    .timeline .timeline-step:last-child {
        padding-bottom: 0
    }
    .timeline .timeline-text-wrapper .timeline-text,
    .timeline .timeline-text-wrapper .timeline-text-right {
        padding: 0;
        text-align: center
    }
    section.counter .col-sm-12 {
        margin-bottom: 40px
    }
    .pricing-table-2 {
        display: block
    }
    .pricing-table-2 .plan.featured {
        transform: none
    }
    .pricing-table-2 .plan {
        margin-bottom: 35px
    }
    footer.footer1 .footer-widget-area .col-md-6 {
        margin-bottom: 50px!important
    }
    footer.footer1 .footer-widget-area .col-md-6:last-child {
        margin-bottom: 0!important
    }
    footer.footer1 .footer-copyright-area .copyright {
        margin-top: 10px
    }
    .layout-switcher {
        margin-bottom: 20px
    }
    .sort-by {
        float: none
    }
    .movie-list-1 .listing-container {
        display: block;
        height: auto
    }
    .movie-list-1 .listing-image:after {
        display: none
    }
    .movie-list-1 .listing-content .inner {
        position: relative;
        top: auto;
        left: 0;
        transform: none;
        padding: 30px
    }
    .movie-list-2 .listing-container {
        display: block;
        height: auto
    }
    .movie-list-2 .listing-image {
        height: 250px
    }
    .movie-list-2 .listing-image .img-wrapper {
        height: 300px
    }
    .movie-list-2 .listing-content .inner {
        position: relative;
        top: auto;
        left: 0;
        transform: none;
        padding: 50px 25px
    }
    .movie-list-2 .listing-content .buttons {
        top: 20px;
        right: 0;
        text-align: center
    }
    .movie-list-2 .stars {
        right: 0;
        text-align: center
    }
    .blog-post {
        margin: 0 0 40px
    }
    .blog-post:last-of-type {
        margin-bottom: 0;
        padding-bottom: 20px
    }
    .sidebar {
        margin-top: 50px
    }
    .blog-post-wrapper {
        margin-right: 0
    }
    .contact-page .details-wrapper ul.contact-details {
        margin-bottom: 50px
    }
    .celebrity-list-1 .celeb-container {
        display: block
    }
    .celeb-detail .celeb-details .profession,
    .celeb-detail .celeb-details .tab-links li a,
    .celeb-detail .celeb-details .title {
        color: inherit
    }
    .celeb-detail .celeb-details .tab-content,
    .celeb-detail .celeb-details .tab-links {
        margin-top: 30px
    }
}

@media all and (max-width:600px) {
    /* header.header-transparent #navbar_btn {
    left: 36% !important;
   
} */
    .home-pg-movie .row.movie_heading {
        margin: 4% -5px 2% !important;
    }
}

@media all and (max-width:575px) {
    .cat_top_left_img {
        text-align: center;
    }
    .cat_top_right_cont {
        margin: 10px 0 0;
    }
}

@media all and (max-width:480px) {
    /*.movie-box-1 .poster {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    padding: 28.125% 0;
}
.footer_modal .modal-dialog {
    padding-right: 85px !important; 
    padding-left: 15px !important; 
   
}
.movie-box-1 .poster img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	}*/
    #slider .tab-content #overview .overview_playicon {
        left: 44%;
        position: absolute;
        font-size: 30px;
        width: 75px;
        height: 75px;
        border-radius: 100%;
        transition: transform 150ms ease, -webkit-transform 150ms ease;
        text-align: center;
        line-height: 70px;
        padding-left: 4px;
        /* bottom: 88%; */
    }
    #slider .tab-content #overview .overview_description {
        display: inline-block;
        width: 350px!important;
        color: white !important;
        white-space: nowrap!important;
        text-overflow: ellipsis!important;
        overflow: hidden!important;
    }
    #slider .tab-content #overview .overview_backimage {
        height: 450px !important;
    }
    #slider .tab-content .overview_datadiv {
        padding: 40px 0 0 20px !important;
        height: 450px !important;
    }
    #slider .tab-content .linear {
        height: 450px !important;
    }
    #slider .tab-content .overview_title {
        font-size: 2.0rem !important;
        height: 35px !important;
    }
    #header_section {
        min-height: 50px !important;
    }
    header.header-transparent .navbar-brand {
        margin-right: 0rem !important;
        width: 200px !important;
    }
    header.header-transparent .navbar-brand .logo-white {
        width: 140px !important;
        height: 35px;
        padding-top: 4px;
    }
    .header.header-transparent .navbar #btn_search {
        right: 5% !important;
        position: static !important;
        padding-right: 10px !important;
    }
    #slider .tab-content #overview .overview_tabdiv {
        padding-right: 0px !important;
        padding-left: 20px !important;
        padding-top: 50px !important;
        height: 470px !important;
    }
    #slider .tab-content .overview_tabimage {
        height: 470px !important;
    }
    #slider .otmd .nav-tabs li a {
        padding: 5px 5px !important;
    }
    #slider .otmd {
        left: 4% !important;
        bottom: 96px!important;
    }
    /* #slider .tab-content #details .details_tabdiv{
  height:970px !important;
} */
    /* #slider .tab-content #morelike .morelike_tabdiv{
 height:1400px !important;
} */
    #slider .tab-content #details .details_tabdiv .details_tabset {
        padding-left: 25px !important;
        padding-top: 50px !important;
    }
    #slider .tab-content #details .details_tabdiv .details_title {
        font-size: 2.0rem !important;
    }
    #slider .latest-movies {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    #slider .otmd_div {
        /* padding: 0 12px !important;
    margin-top: 50px !important; */
    }
    /* #slider .otmd_div .recent_title{
 padding-top:12px !important;
 padding-bottom: 12px !important;
} */
    .coming-soon .count-down,
    .coming-soon .count-down div,
    .coming-soon .count-down span,
    .movie-detail-intro2 .movie-poster,
    .movie-detail-intro2 .movie-poster img {
        width: 100%
    }
    .coming-soon .count-down div {
        margin: 0 0 30px
    }
    .coming-soon .count-down div:last-child {
        margin: 0
    }
    .top-movies2 {
        margin-top: -120px
    }
    .watch-later-item .listing-container {
        display: block
    }
    .watch-later-item .listing-container .listing-image {
        text-align: center;
        margin-bottom: 30px
    }
    .watch-later-item .listing-container .listing-image img {
        width: 70%
    }
    .watch-later-item .listing-container .listing-content .inner {
        padding-left: 0;
        text-align: center
    }
    .watch-later-item .listing-container .listing-content p {
        margin-bottom: 20px
    }
    .home-pg-movie .latest-movies .item {
        padding-right: 30px;
    }
    .home-pg-movie .latest-movies {
        padding: 0 10px !important;
    }
    .home-pg-movie .trending_rowdiv {
        padding: 0px !important;
    }
    .home-pg-movie .trending_rowdiv .trending_title {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    /* Movie page Css */
    .home-pg-movie .related-movies {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    /* .home-pg-movie .related-movies .related-movies-column{
	margin-bottom: -16px !important;
} */
    .home-pg-movie .latest-movies-div .related-movies .related-movies-column {
        margin-bottom: 10px !important;
    }
    .home-pg-movie .sub-category {
        margin-top: 30px !important;
        padding: 0px !important;
    }
    .home-pg-movie .movie_heading {
        padding: 0px !important;
        margin-top: 12%;
    }
    .home-pg-movie .sub-categorymovie {
        padding: 0px !important;
    }
    /* Movie Page Css */
    /* Search Page Css */
    .search-result .search_row {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .search-result .search_heading {
        padding-left: 10px !important;
    }
    /* .home-pg-movie .channel_detail {
	padding-right: 55px !important;
	padding-left: 55px !important;
} */
    #channels_heading {
        margin-top: 60px!important;
        font-size: 24px;
    }
    #channels_subheading {
        font-size: 16px;
    }
    .ptb80 {
        padding: 0px 0 45px 0;
    }
    .home-pg-movie .channel_detailrow .channel_detailimg {
        border-radius: 50%;
        height: auto;
        margin-top: 35px;
        padding-left: 10px;
    }
    transparent .navbar #div_typesearch input {
        margin-top: 0px !important;
    }
    .home-pg-movie .movie_heading #Genresdata {
        margin-right: 10px !important;
    }
    /* Search Page Css */
}

@media all and (max-width:414px) {
    .footer1 .footer-copyright-area .links {
        margin-top: -20px;
    }
    #slider .tab-content .overview_title {
        font-size: 1.5rem !important;
    }
    #slider .tab-content #details .details_tabdiv .details_title {
        font-size: 1.5rem !important;
    }
    /* #slider .tab-content #overview .overview_playicon {
   bottom: 89%;
} */
}

@media all and (max-width:380px) {
    .footer_modal .modal-dialog .modal-content {
        padding-right: 65px !important;
    }
    .home-pg-movie .channel_detailrow .channel_detailimg {
        padding-left: 0px;
    }
    /* #slider .tab-content #overview .overview_playicon {
   bottom: 88%;
} */
    #slider .otmd .nav-tabs li a {
        font-size: 13px;
    }
    header.header-transparent .navbar-brand .logo-white {
        margin-right: 72px !important;
    }
    #slider .tab-content #overview .overview_description {
        width: 349px !important;
    }
    .top-movies2 {
        margin-top: -80px
    }
    .movie-detail-main ul.image-gallery li {
        width: 48%
    }
    /* header.header-transparent #navbar_btn {
   left: 39% !important;
   } */
}

@media all and (max-width:360px) {
    header.header-transparent .navbar-brand .logo-white {
        margin-right: 60px !important;
    }
}

@media all and (max-width:350px) {
    .features .features-wrapper {
        padding: 100px 30px
    }
}