@import "font-awesome.min.css";
@import "simple-line-icons.css";
@import "themify-icons.css";
@import "colors.css";
*,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Quicksand, sans-serif
}

a,
a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6 {
	color: inherit
}

body,
body>.wrapper,
header.header,
html {
	background: #1a1919
}
.form-control-placeholder {
    color: #dcdfe0;
    position: absolute;
    top: 0;
    padding: 13px 0 0 13px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 16px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
  
}


.img-box,
.parallax,
html,
main,
section {
	position: relative
}

body.mfp-zoom-out-cur,
body>.wrapper {
	overflow: hidden
}

h1.logo {
	margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #d7dae0;
	font-weight: 600;
	margin: .8em 0
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-family: inherit
}

a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

h1 {
	font-size: 46px
}

h2 {
	font-size: 38px
}

h3 {
	font-size: 30px
}

h4 {
	font-size: 24px
}

h5 {
	font-size: 20px
}

h6 {
	font-size: 18px
}

p {
	font-size: 16px;
	line-height: 24px;
	color: #d7d8dc;
	margin-bottom: 1.7em;
	margin-top: 0
}

a {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

a:focus,
a:hover,
a:visited {
	text-decoration: none!important;
	outline: 0!important
}

label {
	font-weight: 500
}

.title {
	margin: 0;
	padding-bottom: 0px
}

.subtitle {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	color: #8d97ad;
	line-height: 30px
}

* {
	outline: 0
}

body,
html {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0!important;
	font-family: Quicksand, sans-serif
}

body {
	overflow-x: hidden;
	font-weight: 300
}

body>.wrapper {
	padding: 0;
	margin: 0;
	width: 100%
}

body>.wrapper.boxed {
	max-width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 40px 0 rgba(52, 58, 64, .3);
	-moz-box-shadow: 0 0 40px 0 rgba(52, 58, 64, .3);
	box-shadow: 0 0 40px 0 rgba(52, 58, 64, .3)
}

img,
textarea {
	max-width: 100%
}

a,
button,
input {
	outline: 0!important
}

.form-control,
input[type=text],
input[type=number],
input[type=password],
input[type=email],
input[type=tel],
input[type=phone],
input[type=url],
select,
textarea {
	width: 100%;
	padding: 10px 20px;
	color: #666;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none
}

textarea {
	min-height: 200px
}

.form-control:focus {
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #e3e3e3
}

select.form-control {
	cursor: pointer;
	color: #999
}

::-webkit-input-placeholder {
	opacity: 1;
	color: #999
}

::-moz-placeholder {
	opacity: 1;
	color: #999
}

:-ms-input-placeholder {
	opacity: 1;
	color: #999
}

:-moz-placeholder {
	opacity: 1;
	color: #999
}

.uppercase {
	text-transform: uppercase
}

.capitalize {
	text-transform: capitalize
}

ul {
	margin: 0
}

li {
	margin-bottom: 5px
}

img {
	height: auto;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
	user-drag: none
}

.img-shadow {
	-webkit-box-shadow: 0 0 30px rgba(147, 82, 179, .3);
	-moz-box-shadow: 0 0 30px rgba(147, 82, 179, .3);
	box-shadow: 0 0 30px rgba(147, 82, 179, .3)
}

.img-responsive {
	width: 100%;
	height: auto;
	display: inline-block
}

.shadow {
	-webkit-box-shadow: 5px 5px 30px 0 rgba(55, 71, 79, .1);
	-moz-box-shadow: 5px 5px 30px 0 rgba(55, 71, 79, .1);
	box-shadow: 5px 5px 30px 0 rgba(55, 71, 79, .1)
}

.shadow-hover {
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.shadow-hover:hover {
	-webkit-box-shadow: 5px 5px 30px 0 rgba(55, 71, 79, .1);
	-moz-box-shadow: 5px 5px 30px 0 rgba(55, 71, 79, .1);
	box-shadow: 5px 5px 30px 0 rgba(55, 71, 79, .1)
}

.parallax {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	z-index: 99
}

.parallax-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: #333;
	opacity: .4
}

.overlay-black .slotholder:after,
.overlay-black:after,
.overlay-gradient .slotholder:after,
.overlay-gradient:after {
	content: '';
	top: 0;
	left: 0; 
	opacity: .6;
	width: 100%;
 	
}

.overlay-black .slotholder:after,
.overlay-black:after {
	background: #000
}

.table {
	max-width: none
}

embed,
iframe,
object {
	max-width: 100%
}

.with-bg {
	width: 100%;
	min-height: 300px;
	background-size: cover!important;
	background-position: center center!important
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,
td,
th {
	padding: 0;
	font-weight: 400;
	text-align: left
}

dt,
th {
	font-weight: 700
}

#backtotop a,
.owl-nav.disabled+.owl-dots,
.play-video,
.social-btn-roll-icon {
	text-align: center
}

table,
td,
th {
	border: 1px solid #e3e3e3
}

td,
th {
	border-width: 0 1px 1px 0
}

td,
th {
	padding: .4375em
}

dd,
dl {
	margin: 0 0 1.75em
}

blockquote {
	font-style: italic;
	padding: 10px 80px;
	border-left: 4px solid #29b1fd;
	color: #333;
	font-size: 22px;
	line-height: 1.4;
	margin: 0 0 1.7em
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1)
}

pre {
	font-size: 14px;
	margin: 20px 0;
	padding: 20px;
	white-space: pre-wrap;
	word-wrap: break-word
}

footer.entry-footer {
	padding: 0
}

.circle-img img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.rev-slider-wrapper {
	left: 0!important
}

.owl-dots {
	margin-top: 30px
}

.owl-dots .owl-dot {
	display: inline-block;
	zoom: 1
}

.owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px;
	background: #ddd;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.owl-dots .owl-dot.active span {
	-webkit-box-shadow: 0 0 0 4px rgba(147, 82, 179, .3);
	-moz-box-shadow: 0 0 0 4px rgba(147, 82, 179, .3);
	box-shadow: 0 0 0 4px rgba(147, 82, 179, .3)
}

.hover-link:after {
	content: '\f0c1';
	font-family: fontawesome;
	color: #f6f6f6;
	font-size: 26px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0);
	-moz-transform: translate(-50%, -50%) scale(0);
	-ms-transform: translate(-50%, -50%) scale(0);
	-o-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

.hover-link:hover:after {
	opacity: .7;
	-webkit-transform: translate(-50%, -50%) scale(1);
	-moz-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	-o-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1)
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
	position: absolute;
	left: -9999px
}

[type=checkbox]:checked+label,
[type=checkbox]:not(:checked)+label {
	position: relative;
	padding-left: 30px;
	cursor: pointer
}

[type=checkbox]:checked+label:before,
[type=checkbox]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.25em;
	height: 1.25em;
	border: 2px solid #e3e3e3;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 2px
}

[type=checkbox]:checked+label:after,
[type=checkbox]:not(:checked)+label:after {
	content: '\f00c';
	font-family: fontawesome;
	position: absolute;
	top: 2px;
	left: 2px;
	font-size: 16px;
	line-height: 20px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s
}

[type=checkbox]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0)
}

[type=checkbox]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}

.nopadding {
	padding: 0!important
}

.nomargin {
	margin: 0!important
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.mt20 {
	margin-top: 20px
}

.mt25 {
	margin-top: 25px
}

.mt30 {
	margin-top: 30px
}

.mt35 {
	margin-top: 35px
}

.mt40 {
	margin-top: 40px
}

.mt45 {
	margin-top: 45px
}

.mt50 {
	margin-top: 50px
}

.mt60 {
	margin-top: 60px
}

.mt70 {
	margin-top: 70px
}

.mt80 {
	margin-top: 80px
}

.mt90 {
	margin-top: 90px
}

.mt100 {
	margin-top: 100px
}

.mt110 {
	margin-top: 110px
}

.mt120 {
	margin-top: 120px
}

.mt125 {
	margin-top: 125px
}

.mt130 {
	margin-top: 130px
}

.mt140 {
	margin-top: 140px
}

.mt150 {
	margin-top: 150px
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr15 {
	margin-right: 15px
}

.mr20 {
	margin-right: 20px
}

.mr25 {
	margin-right: 25px
}

.mr30 {
	margin-right: 30px
}

.mr35 {
	margin-right: 35px
}

.mr40 {
	margin-right: 40px
}

.mr45 {
	margin-right: 45px
}

.mr50 {
	margin-right: 50px
}

.mr60 {
	margin-right: 60px
}

.mr70 {
	margin-right: 70px
}

.mr80 {
	margin-right: 80px
}

.mr90 {
	margin-right: 90px
}

.mr100 {
	margin-right: 100px
}

.mr110 {
	margin-right: 110px
}

.mr120 {
	margin-right: 120px
}

.mr125 {
	margin-right: 125px
}

.mr130 {
	margin-right: 130px
}

.mr140 {
	margin-right: 140px
}

.mr150 {
	margin-right: 150px
}

.mb5 {
	margin-bottom: 5px
}

.mb10 {
	margin-bottom: 10px
}

.mb15 {
	margin-bottom: 15px
}

.mb20 {
	margin-bottom: 20px
}

.mb25 {
	margin-bottom: 25px
}

.mb30 {
	margin-bottom: 30px
}

.mb35 {
	margin-bottom: 35px
}

.mb40 {
	margin-bottom: 40px
}

.mb45 {
	margin-bottom: 45px
}

.mb50 {
	margin-bottom: 50px
}

.mb60 {
	margin-bottom: 60px
}

.mb70 {
	margin-bottom: 70px
}

.mb80 {
	margin-bottom: 80px
}

.mb90 {
	margin-bottom: 90px
}

.mb100 {
	margin-bottom: 100px
}

.mb110 {
	margin-bottom: 110px
}

.mb120 {
	margin-bottom: 120px
}

.mb125 {
	margin-bottom: 125px
}

.mb130 {
	margin-bottom: 130px
}

.mb140 {
	margin-bottom: 140px
}

.mb150 {
	margin-bottom: 150px
}

.ml5 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml15 {
	margin-left: 15px
}

.ml20 {
	margin-left: 20px
}

.ml25 {
	margin-left: 25px
}

.ml30 {
	margin-left: 30px
}

.ml35 {
	margin-left: 35px
}

.ml40 {
	margin-left: 40px
}

.ml45 {
	margin-left: 45px
}

.ml50 {
	margin-left: 50px
}

.ml60 {
	margin-left: 60px
}

.ml70 {
	margin-left: 70px
}

.ml80 {
	margin-left: 80px
}

.ml90 {
	margin-left: 90px
}

.ml100 {
	margin-left: 100px
}

.ml110 {
	margin-left: 110px
}

.ml120 {
	margin-left: 120px
}

.ml125 {
	margin-left: 125px
}

.ml130 {
	margin-left: 130px
}

.ml140 {
	margin-left: 140px
}

.ml150 {
	margin-left: 150px
}

.mtb5 {
	margin: 5px 0
}

.mtb10 {
	margin: 10px 0
}

.mtb15 {
	margin: 15px 0
}

.mtb20 {
	margin: 20px 0
}

.mtb25 {
	margin: 25px 0
}

.mtb30 {
	margin: 30px 0
}

.mtb35 {
	margin: 35px 0
}

.mtb40 {
	margin: 40px 0
}

.mtb45 {
	margin: 45px 0
}

.mtb50 {
	margin: 50px 0
}

.mtb60 {
	margin: 60px 0
}

.mtb70 {
	margin: 70px 0
}

.mtb80 {
	margin: 80px 0
}

.mtb90 {
	margin: 90px 0
}

.mtb100 {
	margin: 100px 0
}

.mtb110 {
	margin: 110px 0
}

.mtb120 {
	margin: 120px 0
}

.mtb130 {
	margin: 130px 0
}

.mtb140 {
	margin: 140px 0
}

.mtb150 {
	margin: 150px 0
}

.pt5 {
	padding-top: 5px
}

.pt10 {
	padding-top: 10px
}

.pt15 {
	padding-top: 15px
}

.pt20 {
	padding-top: 20px
}

.pt25 {
	padding-top: 25px
}

.pt30 {
	padding-top: 30px
}

.pt35 {
	padding-top: 35px
}

.pt40 {
	padding-top: 40px
}

.pt45 {
	padding-top: 45px
}

.pt50 {
	padding-top: 50px
}

.pt60 {
	padding-top: 60px
}

.pt70 {
	padding-top: 70px
}

.pt80 {
	padding-top: 80px
}

.pt90 {
	padding-top: 90px
}

.pt100 {
	padding-top: 100px
}

.pt110 {
	padding-top: 110px
}

.pt120 {
	padding-top: 120px
}

.pt130 {
	padding-top: 130px
}

.pt140 {
	padding-top: 140px
}

.pt150 {
	padding-top: 150px
}

.pt160 {
	padding-top: 160px
}

.pr5 {
	padding-right: 5px
}

.pr10 {
	padding-right: 10px
}

.pr15 {
	padding-right: 15px
}

.pr20 {
	padding-right: 20px
}

.pr25 {
	padding-right: 25px
}

.pr30 {
	padding-right: 30px
}

.pr35 {
	padding-right: 35px
}

.pr40 {
	padding-right: 40px
}

.pr45 {
	padding-right: 45px
}

.pr50 {
	padding-right: 50px
}

.pr60 {
	padding-right: 60px
}

.pr70 {
	padding-right: 70px
}

.pr80 {
	padding-right: 80px
}

.pr90 {
	padding-right: 90px
}

.pr100,
.timeline .timeline-text-wrapper .timeline-text {
	padding-right: 100px
}

.pr110 {
	padding-right: 110px
}

.pr120 {
	padding-right: 120px
}

.pr125 {
	padding-right: 125px
}

.pr130 {
	padding-right: 130px
}

.pr140 {
	padding-right: 140px
}

.pr150 {
	padding-right: 150px
}

.pb5 {
	padding-bottom: 5px
}

.pb10 {
	padding-bottom: 10px
}

.pb15 {
	padding-bottom: 15px
}

.pb20 {
	padding-bottom: 20px
}

.pb25 {
	padding-bottom: 25px
}

.pb30 {
	padding-bottom: 30px
}

.pb35 {
	padding-bottom: 35px
}

.pb40 {
	padding-bottom: 40px
}

.pb45 {
	padding-bottom: 45px
}

.pb50 {
	padding-bottom: 50px
}

.pb60 {
	padding-bottom: 60px
}

.pb70 {
	padding-bottom: 70px
}

.pb80 {
	padding-bottom: 10px!important;
}

.pb90 {
	padding-bottom: 90px
}

.pb100 {
	padding-bottom: 100px
}

.pb110 {
	padding-bottom: 110px
}

.pb120 {
	padding-bottom: 120px
}

.pb130 {
	padding-bottom: 130px
}

.pb140 {
	padding-bottom: 140px
}

.pb150 {
	padding-bottom: 150px
}

.pb160 {
	padding-bottom: 160px
}

.pl5 {
	padding-left: 5px
}

.pl10 {
	padding-left: 10px
}

.pl15 {
	padding-left: 15px
}

.pl20 {
	padding-left: 20px
}

.pl25 {
	padding-left: 25px
}

.pl30 {
	padding-left: 30px
}

.pl35 {
	padding-left: 35px
}

.pl40 {
	padding-left: 40px
}

.pl45 {
	padding-left: 45px
}

.pl50 {
	padding-left: 50px
}

.pl60 {
	padding-left: 60px
}

.pl70 {
	padding-left: 70px
}

.pl80 {
	padding-left: 80px
}

.pl90 {
	padding-left: 90px
}

.pl100 {
	padding-left: 100px
}

.pl110 {
	padding-left: 110px
}

.pl120 {
	padding-left: 120px
}

.pl125 {
	padding-left: 125px
}

.pl130 {
	padding-left: 130px
}

.pl140 {
	padding-left: 140px
}

.pl150 {
	padding-left: 150px
}

.ptb5 {
	padding: 5px 0
}

.ptb10 {
	padding: 10px 0
}

.ptb15 {
	padding: 15px 0
}

.ptb20 {
	padding: 20px 0
}

.ptb25 {
	padding: 25px 0
}

.ptb30 {
	padding: 30px 0
}

.ptb35 {
	padding: 35px 0
}

.ptb40 {
	padding: 40px 0
}

.ptb45 {
	padding: 45px 0
}

.ptb50 {
	padding: 50px 0
}

.ptb60 {
	padding: 60px 0
}

.ptb70 {
	padding: 70px 0
}

.ptb80 {
	padding: 80px 0
}

.ptb90 {
	padding: 90px 0
}

.ptb100 {
	padding: 100px 0
}

.ptb110 {
	padding: 110px 0
}

.ptb120 {
	padding: 120px 0
}

.ptb130 {
	padding: 130px 0
}

.ptb140 {
	padding: 140px 0
}

.ptb150 {
	padding: 150px 0
}

.ptb160 {
	padding: 160px 0
}

.op-1 {
	opacity: .1
}

.op-2 {
	opacity: .2
}

.op-3 {
	opacity: .3
}

.op-4 {
	opacity: .4
}

.op-5 {
	opacity: .5
}

.op-6 {
	opacity: .6
}

.op-7 {
	opacity: .7
}

.op-8 {
	opacity: .8
}

.op-9 {
	opacity: .9
}
.header.header .navbar-nav .nav-link {
    font-weight:400 !important;
    color: #fff !important;
    font-size:16px !important;
    line-height: 2;
    padding:15px 0px 15px 10px;
   
}
.header.header .navbar-nav .nav-link:hover {
  color:#777 !important;
}
.header.header .navbar-nav .nav-link-btn{
   margin-top:6px;
   float:right; 
   margin-right: 11px; 
   line-height: 30px;
   font-weight: 400; 
   color: #fff; 
   position: absolute;
   display:block;
   right:5px;
   padding: 0 15px;
   border-radius: .25rem;
   line-height: 30px; 
   cursor: pointer;"
}

@media(max-width: 1199px)
  {
   #auto_play {
       left: 14% !important;
  }
  }
@media(max-width: 1025px)
  {
   #slider #fullscreen-slider .otmd {
       bottom: 62% !important;
  }
  #slider.rev-slider-wrapper{
       height:1000px !important;
  }
  .header.header .navbar-collapse .navbar-nav li #btn_search
   {
    right:14% !important;
   }
  }
@media(max-width: 991px)
  {
   #auto_play {
       left: 19% !important;
  }
  }
@media(max-width: 768px)
{
   header.header-fixed{
  padding:0px !important;
   }
  #slider #fullscreen-slider .otmd {
       bottom: 49% !important;
  }
  #slider .rev-slider-wrapper #fullscreen-slider .container-fluid .row #slider_right{
   padding-left:12px !important;
   padding-top:10px !important;
  }

}
@media(max-width: 767px)
  {

   #auto_play {
       left: 25% !important;
       top: 29% !important;
  }
  #collapsibleNavbar{
   background-color: #292b2cd4 !important;
    padding:20px !important;
    border-top: 1px solid white !important;
  }
  #collapsibleNavbar #main-menu li button{
   position: static !important;
  }
   #header_section{
  opacity:0.9 !important;
}
 .header.header .navbar-collapse .navbar-nav
   {
    margin-bottom: 18px;
   }
  .header.header .navbar-collapse .navbar-nav li #btn_search
   {
    right:0 !important;
    margin-left:21px !important;
    margin-top:0px;
   }
   .header.header .navbar-collapse .navbar-nav li #signin_click
   {
   
    right:67% !important;
    position:static !important;
    display: unset !important;
    padding: 4px 15px !important;
    float:none !important;
   }

.close{
  margin-top: 7% !important;
}
}

@media(max-width: 480px)
  {
   #auto_play {
        left:46% !important;
       top: 34% !important;
  }
  }
 @media(min-width : 415px) and (max-width : 460px)
 {
   #slider{
   margin-bottom:165px !important;
  }
 }
 @media(max-width : 460px)
 {
   .login-form-inner {
      width:290px;
      padding:26px; 
      padding-bottom:40px;
   }
   .modal-dialog {
    margin: 3vh auto 0px auto !important;
   }
  #slider .rev-slider-wrapper #fullscreen-slider .container-fluid .row #slider_class #slider_left{
   height:150px !important;
  }
  #slider .rev-slider-wrapper #fullscreen-slider .container-fluid .row{
   padding:0px !important;
  }
  #slider .rev-slider-wrapper #fullscreen-slider .container-fluid .row  #slider_right h2{
   font-size:32px !important;
  }
    #slider .rev-slider-wrapper{
   height:auto !important;
  }
  
 }
@media(max-width: 414px)
  {
   #auto_play {
       left: 43% !important;
       top: 31% !important;
  }
 }
 @media(max-width: 375px)
  {
   #slider .rev-slider-wrapper #fullscreen-slider .container-fluid .row #slider_right #mylist_watch {
       margin-bottom:5px !important;
  }
   #slider .rev-slider-wrapper #fullscreen-slider .container-fluid .row #slider_right #overview_para {
       margin-bottom:5px !important;
       line-height:18px !important;
  }
  #slider .rev-slider-wrapper #fullscreen-slider .container-fluid .row #slider_right .adr_para {
       margin-bottom:0px !important;
       line-height:18px !important;
  }
  #slider .rev-slider-wrapper #fullscreen-slider .container-fluid .row #slider_right h3 {
       margin-bottom:5px !important;
  }
  }

@media(max-width: 370px)
  {
   #auto_play {
       top: 29% !important;
  }
  }

@media(max-width : 350px)
 {
   .login-form-inner 
   {
      width:240px !important;
      padding:20px !important; 
      padding-bottom:30px !important;
   }
  
 }
@media(max-width: 320px)
  {
   #auto_play {
       top: 26% !important;
  }
  }
@media (min-width : 800px)
{
  .header.header .navbar-nav .nav-link 
   {
    text-transform: capitalize;
   }
   .header.header-fixed 
   {
      width: 100%;
      padding: 0 45px;
     
   }
   .header.header .navbar-nav .nav-item .login-btn 
  {
    padding: 7px 17px;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.42857143;
    right:16px; 
    position: absolute; 
    font-weight: normal !important;
    color: #fff;
    display: block !important;
    box-shadow: none;
   }
   ul #start_now{
	font-size:24px;
   }
   #input_search{
     width:100%;
   }
  
}

.message_mail{
  color:white !important;
  text-align:center !important;
  padding:1px !important;
}

header.header-fixed {
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99
}

header.header-transparent {
	background: 0 0
}

header.header-transparent .navbar-brand .logo {
	display: none;
	width: 200px;
}

header.header-transparent .navbar-brand .logo-white {
	display: block;
	width: 209px;
	height:40px;
}

header .navbar-brand .logo-white 
{
	display: none
}

header.sticky.headroom--pinned.cloned,
header.sticky.headroom--top.cloned,
header.sticky.headroom--unpinned.cloned {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease
}

header.sticky.cloned {
	position: fixed!important;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1005
}

body.admin-bar header.sticky.cloned {
	top: 32px!important
}

header.sticky.cloned.headroom--not-top.headroom--pinned,
header.sticky.cloned.headroom--not-top.headroom--unpinned {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0)
}

header.header .navbar-nav .divider {
	background-color: rgba(62, 69, 85, .15);
	height: 1px;
	margin: 5px 0!important;
	overflow: hidden
}

header.header .navbar-nav .nav-item {
	margin: 0;
	padding: 0 8px
}

header.header .navbar-nav .nav-link {
	font-size: 16px;
	text-transform: capitalize
}

header.header .navbar-nav .nav-link:hover {
	color: inherit
}

header.header .navbar-nav .nav-item .login-btn i {
	margin-right: 20px
}

header.header .navbar-nav .nav-item .login-btn{
    padding: 0 18px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.03rem;
    margin-right: 30px;
}
header.header .navbar-nav .nav-item.notification-wrapper {
	position: relative
}

#main-nav .navbar-nav>.dropdown .dropdown-toggle:after {
	content: '\f107';
	font-family: fontawesome;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	text-decoration: inherit;
	display: inline-block;
	border: 0;
	margin: 0;
	padding-left: 3px;
	vertical-align: 0
}

#main-nav .navbar-nav .dropdown .dropdown-menu {
	position: absolute;
	display: block;
	top: 90%;
	right: 0;
	opacity: 0;
	max-height: 0;
	width: 200px;
	margin-left: -15px;
	z-index: 100;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, .08);
	-moz-box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, .08);
	box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, .08);
	-webikt-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	transform-origin: 10% top 0;
	-webkit-transition: max-height 0s linear .15s, opacity .1s cubic-bezier(.39, .575, .565, 1) 0s, transform .15s cubic-bezier(.1, 1.26, .83, 1) 0s;
	-moz-transition: max-height 0s linear .15s, opacity .1s cubic-bezier(.39, .575, .565, 1) 0s, transform .15s cubic-bezier(.1, 1.26, .83, 1) 0s;
	-ms-transition: max-height 0s linear .15s, opacity .1s cubic-bezier(.39, .575, .565, 1) 0s, transform .15s cubic-bezier(.1, 1.26, .83, 1) 0s;
	-o-transition: max-height 0s linear .15s, opacity .1s cubic-bezier(.39, .575, .565, 1) 0s, transform .15s cubic-bezier(.1, 1.26, .83, 1) 0s;
	transition: max-height 0s linear .15s, opacity .1s cubic-bezier(.39, .575, .565, 1) 0s, transform .15s cubic-bezier(.1, 1.26, .83, 1) 0s
}

#main-nav .navbar-nav .dropdown:hover .dropdown-menu {
	max-height: 700px;
	opacity: 1;
	width: 200px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	transition-delay: .2s;
	transition-duration: 0s, .3s, .3s
}

#main-nav .navbar-nav .dropdown-menu>li {
	position: relative;
	margin: 0
}

#main-nav .navbar-nav .dropdown-menu>li>a {
	font-size: 15px;
	padding: 5px 20px;
	color: #333;
	background: 0 0;
	text-transform: capitalize
}

#main-nav .navbar-nav .dropdown-menu>li>a:focus,
#main-nav .navbar-nav .dropdown-menu>li>a:hover {
	background: 0 0
}

span.notification-count {
	position: absolute;
	background: #eb1436;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: 10px;
	top: 6px;
	right: 9px;
	width: 15px;
	height: 15px;
	line-height: 15px
}

a.nav-link.dropdown-toggle.notification:after {
	display: none!important
}

.hamburger {
	padding: 0;
	display: none;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: .15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible
}

.btn,
.timeline span.timeline-step-btn {
	font-size: 14px;
	text-transform: uppercase
}

.btn,
.btn i {
	line-height: 35px
}

footer .widget-blog .blog-posts li a,
footer .widget-links .general-listing a,
footer .widget-title {
	text-transform: capitalize
}

.hamburger-box {
	width: 30px;
	height: 24px;
	display: inline-block;
	position: relative
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
       
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	width: 30px;
	height: 4px;
	background-color: #333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: .15s;
	transition-timing-function: ease
}

.bg-white,
.header-transparent .hamburger-inner,
.header-transparent .hamburger-inner::after,
.header-transparent .hamburger-inner::before,
.loading {
	background-color: white;
}

.hamburger-inner::after,
.hamburger-inner::before {
	content: "";
	display: block
}

.forgetpassword-wrapper,
.signup-wrapper,
footer .widget-about img.logo-white,
footer.bg-dark .widget-about img.logo {
	display: none
}

.hamburger-inner::before {
	top: -10px
}

.hamburger-inner::after {
	bottom: -10px
}

.hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 0;
	transition-duration: .13s;
	transition-delay: .13s;
	transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.hamburger--collapse .hamburger-inner::after {
	top: -20px;
	transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear
}

.hamburger--collapse .hamburger-inner::before {
	transition: top .12s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--collapse.is-active .hamburger-inner {
	transform: translate3d(0, -10px, 0) rotate(-45deg);
	transition-delay: .22s;
	transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.hamburger--collapse.is-active .hamburger-inner::after {
	top: 0;
	opacity: 0;
	transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .22s linear
}

.hamburger--collapse.is-active .hamburger-inner::before {
	top: 0;
	transform: rotate(-90deg);
	transition: top .1s .16s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .25s cubic-bezier(.215, .61, .355, 1)
}

.btn,
.play-video {
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease
}

footer .widget-title {
	margin-top: 0;
	margin-bottom: 40px
}

footer.footer1 .footer-copyright-area {
	border-top: 1px solid rgba(51, 51, 51, .2)
}

footer.footer1.bg-dark,
footer.footer1.bg-dark .widget-title,
footer.footer1.bg-dark p {
	color: #fff
}

footer.footer1.bg-dark .footer-copyright-area {
	border-top: 1px solid rgba(255, 255, 255, .2)
}

footer.bg-dark .widget-about img.logo-white {
	display: block
}

footer .widget-about img {
	margin-bottom: 40px;
	height: 28px
}

footer .widget-blog .blog-posts {
	margin: 0;
	padding: 0;
	list-style: none
}

footer .widget-blog .blog-posts li {
	padding: 10px 0;
	margin: 0
}

footer .widget-blog .blog-posts li:first-child {
	padding-top: 0
}

footer .widget-blog .blog-posts li:last-child {
	padding-bottom: 0
}

footer .widget-blog .blog-posts li small {
	display: block;
	color: #a8a1ac;
	text-transform: uppercase;
	font-weight: 500
}

footer.bg-dark .social-btns .social-btn-roll {
	color: #fff;
	border-color: #4d5154
}

footer.bg-dark .social-btns .social-btn-roll:hover {
	border-color: transparent
}

.loading {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999;
	left: 0;
	background-color: black;
}

.loading .loading-inner {
	width: 100%;
	height: 100%;
	position: relative
}

.loading .loading-effect {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.loading .loading-effect .object {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: loading-animation 3s infinite;
	animation: loading-animation 3s infinite
}

.loading .loading-effect .object:before {
	content: '\f04b';
	font-family: fontawesome;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 2px;
	color: #fff;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

@keyframes loading-animation {
	0%,
	100% {
		-webkit-box-shadow: 0 0 0 rgba(147, 82, 179, .5);
		-moz-box-shadow: 0 0 0 rgba(147, 82, 179, .5);
		box-shadow: 0 0 0 rgba(147, 82, 179, .5)
	}
	50% {
		-webkit-box-shadow: 0 0 0 30px rgba(147, 82, 179, .15);
		-moz-box-shadow: 0 0 0 30px rgba(147, 82, 179, .15);
		box-shadow: 0 0 0 30px rgba(147, 82, 179, .15)
	}
}

.bg-light {
	background-color: #edf5f7!important
}

.bg-light2 {
	background: #e7edef
}

.bg-dark {
	background-color: #3e4555!important
}

.bg-primary {
	background-color: #9352b3!important
}

.bg-success {
	background-color: #2cdd9b!important
}

.bg-info {
	background-color: #00b4ff!important
}

.bg-warning {
	background-color: #fec500!important
}

.bg-danger {
	background-color: #ff4d7e!important
}

.bg-facebook {
	background-color: #3b5a9a
}

.bg-twitter {
	background-color: #56adf2
}

.bg-main-gradient {
	background: #9352b3;
	background: -webkit-linear-gradient(legacy-direction(to right), #9352b3 0, #a11f3c 100%);
	background: -webkit-gradient(linear, left top, right top, from(#9352b3), to(#a11f3c));
	background: -webkit-linear-gradient(left, #9352b3 0, #a11f3c 100%);
	background: -o-linear-gradient(left, #9352b3 0, #a11f3c 100%);
	background: linear-gradient(to right, #9352b3 0, #a11f3c 100%)
}

.bg-success-gradient {
	background: #2cdd9b;
	background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0, #1dc8cd 100%);
	background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cd));
	background: -webkit-linear-gradient(left, #2cdd9b 0, #1dc8cd 100%);
	background: -o-linear-gradient(left, #2cdd9b 0, #1dc8cd 100%);
	background: linear-gradient(to right, #2cdd9b 0, #1dc8cd 100%)
}

.bg-info-gradient {
	background: #00b4ff;
	background: -webkit-linear-gradient(legacy-direction(to right), #00b4ff 0, #316ce8 100%);
	background: -webkit-gradient(linear, left top, right top, from(#00b4ff), to(#316ce8));
	background: -webkit-linear-gradient(left, #00b4ff 0, #316ce8 100%);
	background: -o-linear-gradient(left, #00b4ff 0, #316ce8 100%);
	background: linear-gradient(to right, #00b4ff 0, #316ce8 100%)
}

.bg-danger-gradient {
	background: #ff4d7e;
	background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0, #ff6a5b 100%);
	background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
	background: -webkit-linear-gradient(left, #ff4d7e 0, #ff6a5b 100%);
	background: -o-linear-gradient(left, #ff4d7e 0, #ff6a5b 100%);
	background: linear-gradient(to right, #ff4d7e 0, #ff6a5b 100%)
}

.btn {
	outline: 0;
	padding: 0 15px;
	position: relative;
	font-weight: 600;
	border: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.btn.active,
.btn:active {
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important
}

.btn:hover {
	color: inherit
}

.btn:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.btn i {
	font-size: 10px;
	padding-left: 3px
}

.btn-main:hover,
.btn-second:hover {
	-webkit-filter: brightness(113%);
	filter: brightness(113%);
	color: #fff
}

.btn-effect {
	overflow: hidden
}

.ripple {
	width: 0;
	height: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(255, 255, 255, .4);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	position: absolute;
	opacity: 1
}

.rippleEffect {
	animation: rippleDrop .6s linear
}

@keyframes rippleDrop {
	100% {
		-webkit-transform: scale(2.5);
		-moz-transform: scale(2.5);
		-o-transform: scale(2.5);
		-ms-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0
	}
}

.btn-round {
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px
}

.btn-main,
.btn-second {
	color: #fff
}

.btn-blue {
	background: #29b1fd
}

.btn-blue:hover {
	background: #66c9ff
}

.btn-green {
	background: #2ecc71
}

.btn-green:hover {
	background: #4dd977
}

.btn-purple {
	background: #443088
}

.btn-purple:hover {
	background: #5c48a0
}

.btn-orange {
	background: #e69d29
}

.btn-orange:hover {
	background: #ecaf4f
}

.btn-red {
	background: #db6131
}

.btn-red:hover {
	background: #dc7f5a
}

.btn-dark {
	background: #0c112a
}

.btn-dark:hover {
	background: #293053
}

ul.social-btns {
	margin: 0;
	padding: 0;
	list-style: none
}

ul.social-btns li {
	display: inline-block;
	padding: 0 5px
}

.social-btn-roll {
	width: 35px;
	height: 35px;
	border: 1px solid #3b5998;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	display: block;
	-webkit-transition: background .3s ease;
	-moz-transition: background .3s ease;
	-ms-transition: background .3s ease;
	-o-transition: background .3s ease;
	transition: background .3s ease
}

.social-btn-roll:hover .social-btn-roll-icons {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%)
}

.social-btn-roll:hover .social-btn-roll-icon {
	color: #f6f6f6
}

.social-btn-roll-icons {
	width: 200%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.social-btn-roll-icon {
	width: 50%;
	line-height: 35px;
	display: block;
	float: left;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.social-btn-roll.facebook {
	border-color: #3b5998;
	color: #3b5998
}

.social-btn-roll.facebook:hover {
	background: #3b5998
}

.social-btn-roll.twitter {
	border-color: #4cc4f2;
	color: #4cc4f2
}

.social-btn-roll.twitter:hover {
	background: #4cc4f2
}

.social-btn-roll.google-plus {
	border-color: #dd4b39;
	color: #dd4b39
}

.social-btn-roll.google-plus:hover {
	background: #dd4b39
}

.social-btn-roll.instagram {
	border-color: #9b6954;
	color: #9b6954
}

.social-btn-roll.instagram:hover {
	background: #9b6954
}

.social-btn-roll.linkedin {
	border-color: #0077b5;
	color: #0077b5
}

.social-btn-roll.linkedin:hover {
	background: #0077b5
}

.social-btn-roll.rss {
	border-color: orange;
	color: orange
}

.social-btn-roll.rss:hover {
	background: orange
}

.social-btn-roll.pinterest {
	border-color: #cb2027;
	color: #cb2027
}

.social-btn-roll.pinterest:hover {
	background: #cb2027
}

.social-btn-roll.tumblr {
	border-color: #32506d;
	color: #32506d
}

.social-btn-roll.tumblr:hover {
	background: #32506d
}

.social-btn-roll.github {
	border-color: #171515;
	color: #171515
}

.social-btn-roll.github:hover {
	background: #171515
}

.social-btn-roll.dribbble {
	border-color: #ec4a89;
	color: #ec4a89
}

.social-btn-roll.dribbble:hover {
	background: #ec4a89
}

.social-btn-roll.wordpress {
	border-color: #16a0ce;
	color: #16a0ce
}

.social-btn-roll.wordpress:hover {
	background: #16a0ce
}

.social-btn-roll.amazon {
	border-color: orange;
	color: orange
}

.social-btn-roll.amazon:hover {
	background: orange
}

.social-btn-roll.dropbox {
	border-color: #007ee5;
	color: #007ee5
}

.social-btn-roll.dropbox:hover {
	background: #007ee5
}

.social-btn-roll.paypal {
	border-color: #03268c;
	color: #03268c
}

.social-btn-roll.paypal:hover {
	background: #03268c
}

.social-btn-roll.yahoo {
	border-color: #420294;
	color: #420294
}

.social-btn-roll.yahoo:hover {
	background: #420294
}

.social-btn-roll.flickr {
	border-color: #fd0d7e;
	color: #fd0d7e
}

.social-btn-roll.flickr:hover {
	background: #fd0d7e
}

.social-btn-roll.reddit {
	border-color: #ff4006;
	color: #ff4006
}

.social-btn-roll.reddit:hover {
	background: #ff4006
}

.social-btn-roll.vimeo {
	border-color: #63b4e4;
	color: #63b4e4
}

.social-btn-roll.vimeo:hover {
	background: #63b4e4
}

.social-btn-roll.spotify {
	border-color: #1dd069;
	color: #1dd069
}

.social-btn-roll.spotify:hover {
	background: #1dd069
}

.social-btn-roll.youtube {
	border-color: #e62117;
	color: #e62117
}

.social-btn-roll.youtube:hover {
	background: #e62117
}

#backtotop {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	bottom: 25px;
	right: 25px;
	z-index: 999;
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
	-webkit-transform: scale(.7);
	-moz-transform: scale(.7);
	-ms-transform: scale(.7);
	-o-transform: scale(.7);
	transform: scale(.7)
}

#backtotop a:after,
.play-video {
	position: relative;
	display: block
}

#backtotop.visible {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}

#backtotop a {
	color: #fff;
	text-decoration: none;
	border: 0;
	display: block;
	width: 46px;
	height: 46px;
	opacity: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 26px
}

#backtotop a:after {
	content: "\f106";
	font-family: FontAwesome;
	top: 50%;
	-webkit-transform: translateY(-55%);
	-moz-transform: translateY(-55%);
	-ms-transform: translateY(-55%);
	-o-transform: translateY(-55%);
	transform: translateY(-55%)
}

.play-video {
	height: 60px;
	width: 60px;
	line-height: 60px;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: 10;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.play-video:hover {
	color: #fff;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	-moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	box-shadow: 0 0 0 10px rgba(147, 82, 179, .4)
}

.play-video i {
	margin-left: 4px
}

.general-search-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 99;
	height: 60px;
	background: #fff;
	padding: 0 20px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

.general-search-wrapper.open {
	opacity: 1;
	visibility: visible
}

.general-search-wrapper .general-search {
	position: relative
}

.general-search-wrapper .general-search input {
	height: 60px;
	border: 0;
	font-size: 20px
}

.general-search-wrapper .general-search .toggle-search {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 60px;
	cursor: pointer;
	color: #666
}

form#search-form-1 .btn,
form#search-form-1 input {
	height: 55px
}

form#search-form-1 .form-group {
	position: relative
}

form#search-form-1 .btn {
	position: absolute;
	width: 80px;
	top: 0;
	right: 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	padding: 0;
	text-align: center!important
}

form#search-form-1 .btn i {
	font-size: 22px;
	line-height: 55px
}

form#search-form-1 input {
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

form#search-form-1 input:focus,
form#search-form-1 input:hover {
	-webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 3px 25px rgba(0, 0, 0, .4);
	box-shadow: 0 3px 25px rgba(0, 0, 0, .4)
}

form.mailchimp .btn {
	position: absolute;
	top: 1px;
	bottom: 1px;
	right: 0;
	z-index: 5;
	color: #fff;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0
}

.timeline .timeline-step:last-child:after,
.timeline .timeline-step:last-child:before {
	bottom: 0;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	left: 50%
}

.login-register-page form .status {
	margin-top: 40px
}

.forgetpassword-wrapper .status span,
.signin-wrapper .status span,
.signup-wrapper .status span {
	display: block
}

.forgetpassword-wrapper .bottom-links a,
.signin-wrapper .bottom-links a,
.signup-wrapper .bottom-links a {
	cursor: pointer;
	font-weight: 400
}

.general-listing {
	padding: 0;
	margin: 0
}

.general-listing li {
	list-style: none;
	margin: 0
}

.general-listing li a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 10px;
	-webkit-transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	-ms-transition: .2s ease-in;
	-o-transition: .2s ease-in;
	transition: .2s ease-in;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.general-listing li:hover a {
	padding-left: 10px
}

.general-listing li:last-child a {
	padding-bottom: 0
}

.general-listing li i {
	margin-right: 7px;
	vertical-align: middle
}

.timeline {
	margin-top: 100px;
	position: relative
}

.timeline .main-line {
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	margin-left: -1px;
	height: 100%;
	border-left: 2px dashed #e3e3e3
}

.timeline .timeline-step {
	position: relative;
	padding: 50px 0
}

.timeline .timeline-step:last-child:before {
	content: "\f00c";
	font-family: fontawesome;
	position: absolute;
	line-height: 60px;
	font-size: 22px;
	color: #00b489;
	z-index: 99;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

.timeline .timeline-step:last-child:after {
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #a9e6cf;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-animation: timeline_success_boxshadow 5s infinite;
	animation: timeline_success_boxshadow 5s infinite
}

@-webkit-keyframes timeline_success_boxshadow {
	0%,
	100% {
		-webkit-box-shadow: 0 0 0 rgba(169, 230, 208, .6);
		-moz-box-shadow: 0 0 0 rgba(169, 230, 208, .6);
		box-shadow: 0 0 0 rgba(169, 230, 208, .6)
	}
	50% {
		-webkit-box-shadow: 0 0 0 rgba(169, 230, 208, .2);
		-moz-box-shadow: 0 0 0 rgba(169, 230, 208, .2);
		box-shadow: 0 0 0 rgba(169, 230, 208, .2)
	}
}

@keyframes timeline_success_boxshadow {
	0%,
	100% {
		-webkit-box-shadow: 0 0 0 rgba(169, 230, 208, .6);
		-moz-box-shadow: 0 0 0 rgba(169, 230, 208, .6);
		box-shadow: 0 0 0 rgba(169, 230, 208, .6)
	}
	50% {
		-webkit-box-shadow: 0 0 0 rgba(169, 230, 208, .2);
		-moz-box-shadow: 0 0 0 rgba(169, 230, 208, .2);
		box-shadow: 0 0 0 rgba(169, 230, 208, .2)
	}
}

.timeline span.timeline-step-btn {
	position: absolute;
	content: "";
	top: 0;
	left: 50%;
	width: 110px;
	height: 40px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	color: #767676;
	background-color: #e3e3e3;
	line-height: 40px;
	font-weight: 600;
	text-align: center;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%)
}

.timeline .timeline-text-wrapper {
	margin: auto 0
}

.timeline .timeline-text-wrapper .timeline-text-right {
	padding-left: 100px
}

.timeline .timeline-image-wrapper {
	text-align: center
}

.pricing-table-1 {
	font-size: 16px
}

.pricing-table-1 .features-holder,
.pricing-table-1 .price-table {
	float: left;
	border-right: none;
	border-left: none
}

.pricing-table-1 .features-holder {
	width: 50%;
	text-align: left
}

.pricing-table-1 .features-title,
.pricing-table-1 .price-table .table-header {
	display: table;
	height: 50px;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #e9ebec
}

.pricing-table-1 .features-title h5,
.pricing-table-1 .price-table .table-header h5 {
	margin: 0
}

.features-list-wrapper,
.pricing-table-1 .price-table .table-content {
	border-left: 1px solid #e9ebec
}

.pricing-table-1 .features-list-wrapper {
	background: #fff
}

.pricing-table-1 .price-table .table-content ul,
.pricing-table-1 ul.features-list {
	list-style: none;
	margin: 0;
	padding: 0
}

.pricing-table-1 .price-table .table-content ul li,
.pricing-table-1 ul.features-list li {
	font-size: 14px;
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #e9ebec;
	color: #8e8e8e;
	font-weight: 500;
	height: 50px
}

.pricing-table-1 ul.features-list li h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
	line-height: 30px
}

.pricing-table-1 .price-table {
	width: 25%;
	text-align: center;
	background: #fff
}

.pricing-table-1 .price-table:last-child {
	border-right: 1px solid #e9ebec
}

.pricing-table-1 .price-table .table-header {
	border-left: 1px solid #e9ebec;
	border-top: 1px solid #e9ebec
}

.pricing-table-1 .price-table .table-content ul li {
	line-height: 30px
}

.pricing-table-1 .price-table .table-footer {
	border-left: 1px solid #e9ebec;
	border-bottom: 1px solid #e9ebec;
	padding: 20px 0
}

.pricing-table-1 .price-table .table-footer .price-holder {
	font-weight: 600;
	padding-bottom: 10px
}

.pricing-table-1 .price-table .table-footer .btn i {
	font-size: 16px;
	margin: 0;
	padding: 0
}

.pricing-table-1 .price-table-featured .table-content ul li,
.pricing-table-1 .price-table-featured .table-header h5 {
	color: #05b489
}

.pricing-table-2 {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	position: relative
}

.pricing-table-2 .plan {
	flex: 1;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	z-index: 9;
	overflow: hidden
}

.pricing-table-2 .plan-price {
	width: 100%;
	background: #edf5f7;
	padding: 48px 30px 45px
}

.pricing-table-2 .plan-price h3 {
	margin: 0;
	color: #999;
	font-weight: 400;
	font-size: 22px
}

.pricing-table-2 .plan-price .value {
	display: block;
	font-size: 37px;
	line-height: 35px;
	padding: 22px 0 0;
	color: #333
}

.pricing-table-2 .plan-price .period {
	color: #999;
	margin-top: 20px;
	padding: 0 10%;
	display: block
}

.pricing-table-2 .plan-features {
	padding: 35px 30px;
	background: #fff
}

.pricing-table-2 .plan-features ul {
	list-style: none;
	padding: 0
}

.pricing-table-2 .plan-features ul li {
	padding: 3px 0
}

.pricing-table-2 .plan-features a.button {
	margin-top: 20px
}

.pricing-table-2 .plan.featured {
	margin-left: -1px;
	margin-right: -1px;
	-webkit-transform: translateY(-25px);
	-moz-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	-o-transform: translateY(-25px);
	transform: translateY(-25px);
	z-index: 11
}

.pricing-table-2 .plan.featured .plan-price {
	padding: 50px 30px
}

.pricing-table-2 .plan.featured .plan-price:before {
	content: 'Featured';
	position: absolute;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 20px;
	right: -65px;
	text-align: center;
	width: 200px;
	font-size: 12px;
	margin: 0;
	z-index: 99;
	background: #fff;
	font-weight: 500;
	line-height: 28px
}

.pricing-table-2 .plan.featured .plan-price .value,
.pricing-table-2 .plan.featured .plan-price h3 {
	color: #fff
}

.pricing-table-2 .plan.featured .plan-price .period {
	color: #fff;
	line-height: 23px
}

.pricing-table-2 .plan.featured .plan-features {
	padding: 45px 30px
}

.page-header {
	position: relative;
	padding: 50px 0;
	background-repeat: no-repeat;
	background-size: cover
}

.page-header:before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .7
}

.page-header .breadcrumb li:before,
.page-header .breadcrumb li:last-child:after {
	display: none
}

.page-header .inner {
	position: relative;
	z-index: 10
}

.page-header .title {
	color: #fff;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-transform: capitalize
}

.page-header .breadcrumb {
	background: 0 0;
	padding: 0;
	margin: 0
}

.page-header .breadcrumb li {
	margin: 0;
	padding: 5px 0;
	color: #fff
}

.page-header .breadcrumb li:after {
	content: '|';
	padding: 0 10px 0 16px;
	color: #fff
}

.page-header .breadcrumb li:last-child {
	padding: 5px;
	color: #b3bbce
}

.pagination {
	margin-top: 20px;
	text-align: center;
	overflow: hidden
}

.pagination ul {
	padding: 0;
	list-style-type: none;
	margin: 0 auto
}

.pagination ul li {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 5px 0 0;
	padding: 0
}

.pagination ul li:last-child {
	margin: 0
}

.pagination ul li a {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.pagination ul li a.current-page,
.pagination ul li a.current-page:hover {
	color: #fff
}

.pagination ul li a:hover {
	background: #e7edef
}

.icon-box {
	text-align: center;
	margin-top: 50px;
	position: relative
}

.icon-box.with-line:before {
	content: "";
	height: 1px;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 30px;
	background: #edf5f7;
	display: block
}

.icon-box i {
	display: inline-block;
	width: 120px;
	font-size: 60px;
	background: #fff;
	position: relative
}

.icon-box h3 {
	font-weight: 500
}

.icon-box2 {
	padding-left: 80px;
	margin-top: 50px;
	position: relative
}

.icon-box2 i {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 94px;
	font-size: 50px
}

.icon-box2 .title {
	font-weight: 500;
	margin: 0;
	padding-bottom: 10px
}

.features-tab {
	display: block
}

.features-tab li {
	margin: 0
}

.features-tab li a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 20px;
	padding: 25px
}

.features-tab li a.active,
.features-tab li a:hover {
	background: #edf5f7;
	-webkit-box-shadow: 0 0 25px rgba(147, 82, 179, .05);
	-moz-box-shadow: 0 0 25px rgba(147, 82, 179, .05);
	box-shadow: 0 0 25px rgba(147, 82, 179, .05)
}

.features-tab .icon-wrapper {
	margin-right: 25px;
	color: #8d97ad;
	font-size: 3rem
}

.features-tab .icon-wrapper i {
	line-height: 82px
}

.features-tab .title {
	margin: 0;
	padding-bottom: 10px;
	font-weight: 500
}

.features-tab .subtitle {
	font-size: 16px;
	line-height: 24px
}

.testimonial-slider .testimonial-content {
	position: relative;
	background-color: #fff;
	padding: 75px 100px;
	max-width: 700px;
	margin: 50px auto;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
	box-shadow: 0 0 40px rgba(0, 0, 0, .05)
}

.testimonial-slider .testimonial-content>img {
	position: absolute;
	width: 100px;
	top: -50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
	box-shadow: 0 15px 30px rgba(0, 0, 0, .1)
}

.testimonial-slider .testimonial-comment>h4 {
	margin: 10px 0;
	font-size: 24px
}

.testimonial-slider .testimonial-comment .testimonial-info {
	color: #777;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500
}

.testimonial-slider .testimonial-comment>p {
	margin: 25px 0 0;
	font-size: 18px;
	font-weight: 300
}

.full-slider .search-form-wrapper {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: 20px;
	z-index: 90
}

#fullwidth-slider .slotholder:before,
#hero-slider .slotholder:before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0;
	background-color: rgba(26, 26, 26, .7)
}

#fullwidth-slider form#search-form-1 input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.upcoming-movies .upcoming-featured-item .poster {
	max-height: 450px;
	overflow: hidden
}

.upcoming-movies .upcoming-featured-item .poster img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

section.counter .counter-item {
	font-size: 30px;
	font-weight: 500;
	color: #fff
}

section.counter h4 {
	margin: 0;
	color: #fff
}

.features .features-wrapper {
	padding: 100px
}

.top-movies2 {
	margin-top: -150px;
	z-index: 99
}

.top-movies2 .movie-box-4 .listing-image {
	max-height: 300px
}

.top-movies2 .movie-box-4 .listing-content {
	width: 100%
}

.latest-releases .owl-stage-outer {
	padding: 50px 0
}

.page-not-found {
	text-align: center
}

.page-not-found h2 {
	margin: 0;
	color: #343a40;
	font-size: 9em;
	text-shadow: 0 0 25px rgba(52, 58, 64, .2);
	opacity: .1
}

.page-not-found h3 {
	margin-top: -20px
}

.page-not-found form input {
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important
}

.coming-soon {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	position: relative
}

.coming-soon:before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(26, 26, 26, .9)
}

.coming-soon .container {
	z-index: 2;
	position: relative;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

.coming-soon h3 {
	font-size: 34px;
	font-weight: 300;
	color: rgba(255, 255, 255, .9)
}

.coming-soon .count-down {
	display: inline-block;
	margin: 30px 0 50px
}

.coming-soon .count-down div {
	display: inline-block;
	margin: 0 10px;
	float: left
}

.coming-soon .count-down span {
	background-color: rgba(255, 255, 255, .1);
	font-size: 40px;
	color: #fff;
	width: 120px;
	display: inline-block;
	padding: 20px 0;
	font-weight: 400;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.coming-soon .count-down i {
	display: block;
	background-color: #fff;
	color: #333;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
	padding: 5px 0;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

.coming-soon .subscribe-form {
	position: relative;
	max-width: 550px;
	margin: 0 auto
}

.coming-soon .subscribe-form input {
	border: 0;
	height: 50px
}

.coming-soon .subscribe-form .btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0
}

.contact-page .title {
	font-weight: 500
}

.contact-page .details-wrapper {
	width: 100%;
	padding-right: 40px
}

.contact-page .details-wrapper ul.contact-details {
	list-style: none;
	padding: 0;
	color:#eeeeee;
}

.contact-page .details-wrapper ul.contact-details strong {
	font-weight: 500
}

.contact-page .details-wrapper ul.contact-details li {
	text-align: left;
	padding-left: 60px;
	position: relative;
	width: 100%;
	display: inline-block;
	margin: 10px 0;
	line-height: 24px
}

.contact-page .details-wrapper ul.contact-details li strong {
	display: block
}

.contact-page .details-wrapper ul.contact-details li i {
	height: 100%;
	position: absolute;
	top: 10px;
	left: 0;
	font-size: 32px
}

form#contact-form div#contact-result {
	position: fixed;
	left: 0;
	bottom: -50px;
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 15px 0;
	margin: 0;
	z-index: 15;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

.movie-box-3,
.watch-later-item {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease
}

form#contact-form div#contact-result.error,
form#contact-form div#contact-result.valid {
	bottom: 0;
	opacity: 1;
	visibility: visible
}

form#contact-form div#contact-result.error {
	background: #dc464a
}

form#contact-form div#contact-result.valid {
	background: #2ecc71
}

.login-register-page {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	position: relative
}

.login-register-page:before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(26, 26, 26, .9)
}

.login-register-page .container {
	z-index: 2;
	position: relative;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

.login-register-page .login-register {
	margin: 0 auto;
	padding-bottom: 10px
}

.watch-later-item {
	border-bottom: 1px solid rgba(238, 238, 238, .5);
	padding: 30px;
	transition: all .3s ease
}

.watch-later-item:hover {
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 0 40px rgba(0, 0, 0, .1);
	box-shadow: 0 0 40px rgba(0, 0, 0, .1)
}

.watch-later-item .listing-container {
	display: flex
}

.watch-later-item .listing-container .listing-image {
	flex: 1
}

.watch-later-item .listing-container .listing-image img {
	width: 100px
}

.watch-later-item .listing-container .listing-content {
	flex: 7
}

.watch-later-item .listing-container .listing-content .inner {
	padding-left: 40px
}

.watch-later-item .listing-container .listing-content .title {
	padding-bottom: 10px;
	font-weight: 500
}

.watch-later-item .listing-container .listing-content p {
	margin-bottom: 10px
}

.bloglist-post-holder {
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 40px
}

.bloglist-post-holder a.bloglist-thumb-link {
	position: relative;
	max-height: 250px;
	display: block;
	overflow: hidden
}

.bloglist-post-holder .bloglist-thumb-link .bloglist-post-thumbnail {
	width: 100%;
	height: 250px;
	background-size: cover!important;
	background-position: center!important;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease
}

.blog-post .blog-thumb a:before,
.bloglist-post-holder .bloglist-thumb-link .bloglist-post-thumbnail:after {
	content: '';
	display: block;
	height: 100%;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	width: 100%
}

.bloglist-post-holder .bloglist-thumb-link:hover .bloglist-post-thumbnail {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px)
}

.bloglist-post-holder .bloglist-thumb-link .bloglist-post-thumbnail:after {
	opacity: 0;
	transition: all .8s ease
}

.bloglist-post-holder .bloglist-thumb-link:hover .bloglist-post-thumbnail:after {
	opacity: .6
}

.bloglist-post-holder .bloglist-text-wrapper {
	position: relative;
	background: #fff;
	padding: 40px 20px
}

.bloglist-post-holder .bloglist-avatar {
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%
}

.bloglist-post-holder .bloglist-avatar img {
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	box-shadow: 0 0 15px rgba(0, 0, 0, .2)
}

.bloglist-post-holder .bloglist-title {
	margin: 0
}

.bloglist-post-holder .bloglist-title a {
	color: #333
}

.bloglist-post-holder .bloglist-meta {
	color: #999;
	padding-top: 10px
}

.bloglist-post-holder .bloglist-excerpt {
	padding-top: 25px
}

.blog-post {
	margin: 0 30px 40px 0;
	padding-bottom: 40px;
	border-bottom: 1px solid #e3e3e3
}

.blog-post:last-of-type {
	border: 0;
	margin-bottom: 20px
}

.blog-post .blog-thumb {
	position: relative;
	padding: 0;
	margin-bottom: 30px;
	max-height: 350px;
	overflow: hidden
}

.blog-post .blog-thumb a:before {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 1;
	transition: all .8s ease
}

.blog-post .blog-thumb:hover a:before {
	opacity: .6
}

.blog-post .blog-thumb a:after {
	z-index: 2
}

.blog-post .blog-thumb img {
	width: 100%;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease
}

.blog-post .blog-thumb:hover img {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px)
}

.blog-post .post-content .title {
	font-weight: 500;
	margin: 0;
	padding: 0
}

.blog-post .post-content .post-meta {
	list-style: none;
	padding: 0;
	margin: 5px 0 0
}

.blog-post .post-content .post-meta li {
	display: inline-block;
	color: #8d97ad
}

.blog-post .post-content .post-meta li:after {
	content: "";
	width: 1px;
	height: 12px;
	background: #d0d0d0;
	display: inline-block;
	position: relative;
	top: 0;
	margin: 0 10px
}

.blog-post .post-content .post-meta li:last-child:after {
	display: none
}

.blog-post .post-content p {
	margin: 20px 0
}

.blog-post .post-content a.read-more {
	display: inline-block;
	font-weight: 500
}

.blog-post .post-content a.read-more i {
	font-size: 18px;
	padding-left: 3px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease
}

.blog-post .post-content a.read-more:hover i {
	padding-left: 7px
}

.sidebar .widget {
	margin-bottom: 50px
}

.sidebar .widget:last-child {
	margin-bottom: 0
}

.sidebar .widget .title {
	font-weight: 500
}

.sidebar .widget .search-blog-input {
	position: relative
}

.sidebar .widget .search-blog-input:before {
	content: "\e090";
	font-family: simple-line-icons;
	position: absolute;
	display: inline-block;
	font-size: 17px;
	line-height: 46px;
	color: #8d97ad;
	right: 15px;
	top: 0
}

ul.blog-posts-widget {
	padding: 0;
	list-style: none
}

ul.blog-posts-widget li {
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e3e3e3
}

ul.blog-posts-widget li:first-child {
	margin-top: 0
}

ul.blog-posts-widget li:last-child {
	padding-bottom: 0;
	border-bottom: 0
}

ul.blog-posts-widget .blog-content {
	display: table
}

ul.blog-posts-widget .blog-content .blog-thumb {
	display: inline-block;
	position: relative;
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin-right: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.movie-box-3 .stars .category,
.sort-by {
	float: right
}

ul.blog-posts-widget .blog-content .blog-thumb a:before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

.movie-box-1 .poster:after,
.movie-box-1 .poster:before {
	content: "";
	height: 100%;
	width: 100%
}

ul.blog-posts-widget .blog-content:hover .blog-thumb a:before {
	opacity: .6
}

ul.blog-posts-widget .blog-content .blog-thumb img {
	position: absolute;
	max-width: none;
	width: auto;
	height: 100%;
	left: -25%
}

ul.blog-posts-widget .blog-content .blog-text {
	display: table-cell;
	vertical-align: middle
}

ul.blog-posts-widget .blog-content .blog-text h5 {
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 5px
}

ul.blog-posts-widget .blog-content .blog-text span {
	font-size: 14px;
	color: #8d97ad
}

.blog-post-wrapper {
	margin-right: 30px
}

.blog-post-detail .blog-thumb {
	position: relative;
	padding: 0;
	margin-bottom: 30px;
	max-height: 350px;
	overflow: hidden
}

.blog-post-detail .blog-thumb img {
	width: 100%
}

.blog-post-detail .post-content .title {
	font-weight: 500;
	margin: 0;
	padding: 0
}

.blog-post-detail .post-content .post-meta {
	list-style: none;
	padding: 0;
	margin: 5px 0 0
}

.blog-post-detail .post-content .post-meta li {
	display: inline-block;
	color: #8d97ad
}

.blog-post-detail .post-content .post-meta li:after {
	content: "";
	width: 1px;
	height: 12px;
	background: #d0d0d0;
	display: inline-block;
	position: relative;
	top: 0;
	margin: 0 10px
}

.blog-post-detail .post-content .post-meta li:last-child:after {
	display: none
}

.blog-post-detail .post-content p {
	margin: 20px 0
}

.comments .title {
	font-weight: 500
}

.comments .media {
	border: 0;
	padding: 0;
	margin: 50px 0
}

.comment-form .title {
	font-weight: 500
}

.layout-switcher a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	background: #edf5f7;
	color: #999;
	text-align: center;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	margin-right: 10px
}

.movie-box-2,
.movie-box-3 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}

.layout-switcher a.active,
.layout-switcher a:hover {
	color: #fff
}

.sort-by {
	width: 50%
}



.movie-box-1,
.movie-box-1 .poster {
	position: relative;
	height:400px;
}

.related-movies .movie-box-1, .related-movies .movie-box-1 .poster{
	position: relative;
	height:auto;
	width: auto;
}
.related-movies .item.col-md-4 {
    margin-bottom: 30px;
}
.related-movies .movie-box-1 .poster img{
/*	height: 300px; */
	height: auto;
}

.search-result .movie-box-1, .search-result .movie-box-1 .poster{
	position: relative;
/*	height:300px;    */
	height: auto;
	weight: auto;
}
.search-result .item.col-lg-3 {
    margin-bottom: 30px;
}
.search-result .movie-box-1 .poster img{
/*	height: 300px; */
	height: auto;
}

.movie-box-1 .poster:before {
	position: absolute;
	display: block;
	bottom: 0;
	z-index: 8;
	opacity: 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease
}

.search-page div#fullscreen-slider_forcefullwidth, .search-page .rev-slider-wrapper.fullscreen-container.overlay-gradient{
	height: 400px !important;
}
.search-page.full-slider .search-form-wrapper{
	top: 40% !important;
}
.movie-box-1:hover .poster:before {
	opacity: .5
}

.movie-box-1 .poster:after {
	position: absolute;
	display: block;
	bottom: 0;
	z-index: 9;
	background: -webkit-linear-gradient(bottom, rgba(35, 35, 37, .9) 0, rgba(35, 35, 37, .5) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(bottom, rgba(35, 35, 37, .9) 0, rgba(35, 35, 37, .5) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to top, rgba(35, 35, 37, .9) 0, rgba(35, 35, 37, .5) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%)
}

.movie-box-2 .listing-image:after,
.movie-box-2 .listing-image:before,
.movie-box-4 .listing-image:after,
.movie-box-4 .listing-image:before,
.movie-detail-intro:before,
.movie-list-1 .listing-image:after,
.movie-list-1 .listing-image:before {
	content: ''
}

.movie-box-1 .poster img {
	width: 100%
}

.movie-box-1 .buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 12;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.movie-box-1 .movie-details,
.movie-box-1 .stars,
.movie-box-2 .stars {
	z-index: 10;
	width: 100%;
	text-align: center
}

.movie-box-1 .buttons .play-video {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0)
}

.movie-box-1:hover .buttons .play-video {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0 0 0 10px transparent;
	-moz-box-shadow: 0 0 0 10px transparent;
	box-shadow: 0 0 0 10px transparent
}

.movie-box-1:hover .buttons .play-video:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	-moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	box-shadow: 0 0 0 10px rgba(147, 82, 179, .4)
}

.movie-box-1 .movie-details {
	position: absolute;
	bottom: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	opacity: 0;
	visibility: hidden
}

.movie-box-1:hover .movie-details {
	bottom: 30px;
	opacity: 1;
	visibility: visible
}

.movie-box-1 .movie-details .movie-title {
	margin: 0;
	color: #fff
}

.movie-box-1 .movie-details .released {
	display: block;
	color: rgba(255, 255, 255, .7);
	font-weight: 400;
	padding-bottom: 15px;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

.movie-box-1 .movie-details .duration{
	/*display: block;*/
	color: rgba(255, 255, 255, .7);
	font-weight: 400;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.60);
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.60);
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

.movie-box-1:hover .movie-details .released {
	padding-top: 0
}

.movie-box-1 .stars {
	position: absolute;
	top: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	opacity: 0;
	visibility: hidden
}

.movie-box-1:hover .stars {
	top: 30px;
	opacity: 1;
	visibility: visible
}

.movie-box-1 .stars .rating {
	color: #ffc741
}

.movie-box-1 .stars span {
	display: block;
	color: rgba(255, 255, 255, .7);
	font-weight: 400;
	padding-top: 20px;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

.movie-box-1:hover .stars span {
	padding-top: 0
}

.movie-box-2 {
	background: #343a40;
	border-radius: 5px;
	overflow: hidden
}

.movie-box-2 .listing-image {
	position: relative;
	max-height: 250px;
	overflow: hidden
}

.movie-box-2 .listing-image:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #343a40;
	opacity: .6
}

.movie-box-2 .listing-image:after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: -webkit-linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
	background: -o-linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
	background: linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%)
}

.movie-box-2 .listing-image img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.movie-box-2 .stars {
	position: absolute;
	left: 0;
	bottom: 10px
}

.movie-box-2 .stars .rating {
	color: #ffc741
}

.movie-box-2 .listing-image .play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 12;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.movie-box-2 .listing-image .play-btn .play-video {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0)
}

.movie-box-2:hover .listing-image .play-btn .play-video {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0 0 0 10px transparent;
	-moz-box-shadow: 0 0 0 10px transparent;
	box-shadow: 0 0 0 10px transparent
}

.movie-box-2:hover .listing-image .play-btn .play-video:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	-moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	box-shadow: 0 0 0 10px rgba(147, 82, 179, .4)
}

.movie-box-2 .listing-image .buttons {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0;
	color: #fff
}

.movie-box-2 .listing-image .buttons a {
	font-size: 18px;
	opacity: .5
}

.movie-box-2:hover .listing-image .buttons a {
	opacity: 1
}

.movie-box-2 .listing-image .buttons .like {
	position: absolute;
	left: 20px;
	top: 0
}

.movie-box-2 .listing-image .buttons .share {
	position: absolute;
	right: 20px;
	top: 0
}

.movie-box-2 .listing-content {
	padding: 20px;
	text-align: center
}

.movie-box-2 .listing-content .title {
	color: #fff;
	font-weight: 500
}

.movie-box-3 {
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .1);
	-moz-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .1);
	box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .1);
	transition: all .3s ease
}

.movie-box-4,
.movie-list-1 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden
}

.celebrity-list-1 .celebrity-image a:before,
.movie-box-4 .listing-image:before {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease
}

.movie-box-3:hover {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px)
}

.movie-box-3 .listing-image {
	max-height: 350px;
	overflow: hidden
}

.movie-box-3 .listing-image img {
	width: 100%
}

.movie-box-3 .listing-content {
	position: relative;
	padding: 30px
}

.movie-box-3 .play-btn {
	position: absolute;
	top: -30px;
	right: 30px
}

.movie-box-3 .play-btn a {
	-webkit-box-shadow: 0 10px 30px 0 rgba(147, 82, 179, .7);
	-moz-box-shadow: 0 10px 30px 0 rgba(147, 82, 179, .7);
	box-shadow: 0 10px 30px 0 rgba(147, 82, 179, .7)
}

.movie-box-3 .title {
	padding: 0;
	font-size: 1.9em;
	font-weight: 500
}

.movie-box-3 .stars {
	font-size: 14px;
	padding: 10px 0;
	clear: both
}

.movie-box-3 .stars i {
	color: #ffc741
}

.movie-box-3 .stars span {
	color: #999
}

.movie-box-4 {
	position: relative;
	background: #343a40;
	border-radius: 5px
}

.movie-box-4 .listing-image {
	position: relative;
	max-height: 400px;
	overflow: hidden
}

.movie-box-4 .listing-image:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #343a40;
	opacity: .6;
	transition: all .3s ease
}

.movie-box-4:hover .listing-image:before {
	opacity: .95
}

.movie-box-4 .listing-image:after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: -webkit-linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
	background: -o-linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
	background: linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%)
}

.movie-box-4 .listing-image img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.movie-box-4 .stars {
	position: absolute;
	left: 0;
	bottom: -20px;
	width: 100%;
	z-index: 10;
	text-align: center;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	opacity: 0
}

.movie-box-4:hover .stars {
	bottom: 10px;
	opacity: 1;
	-webkit-transition: all .3s ease .6s;
	-moz-transition: all .3s ease .6s;
	-ms-transition: all .3s ease .6s;
	-o-transition: all .3s ease .6s;
	transition: all .3s ease .6s
}

.movie-box-4 .listing-content,
.movie-detail-intro2 .movie-poster:before {
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease
}

.movie-box-4 .stars .rating {
	color: #ffc741
}

.movie-box-4 .listing-image .buttons {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0;
	color: #fff
}

.movie-box-4 .listing-image .buttons a {
	font-size: 18px;
	opacity: .2
}

.movie-box-4:hover .listing-image .buttons a {
	opacity: 1
}

.movie-box-4 .listing-image .buttons .like {
	position: absolute;
	left: 20px;
	top: 0
}

.movie-box-4 .listing-image .buttons .share {
	position: absolute;
	right: 20px;
	top: 0
}

.movie-box-4 .listing-content {
	position: absolute;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translateY(-50%) scale(2.5);
	-moz-transform: translateY(-50%) scale(2.5);
	-ms-transform: translateY(-50%) scale(2.5);
	-o-transform: translateY(-50%) scale(2.5);
	transform: translateY(-50%) scale(2.5);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
	transition: all .6s ease;
	opacity: 0
}

.movie-box-4:hover .listing-content {
	-webkit-transform: translateY(-50%) scale(1);
	-moz-transform: translateY(-50%) scale(1);
	-ms-transform: translateY(-50%) scale(1);
	-o-transform: translateY(-50%) scale(1);
	transform: translateY(-50%) scale(1);
	-webkit-filter: blur(0);
	-moz-filter: blur(0);
	-ms-filter: blur(0);
	-o-filter: blur(0);
	filter: blur(0);
	opacity: 1
}

.movie-box-4 .listing-content .title {
	color: #fff;
	font-size: 1.9em;
	font-weight: 500
}

.movie-list-1 {
	display: block;
	background: #343a40;
	border-radius: 5px;
	width: 100%
}

.celebrity-list-1,
.movie-list-2 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}

.movie-list-1 .listing-container {
	display: flex;
	height: 300px
}

.movie-list-1 .listing-image {
	flex: 4;
	position: relative
}

.movie-list-1 .listing-image:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #343a40;
	opacity: .6
}

.movie-list-1 .listing-image:after {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(to left, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
	background: -o-linear-gradient(to left, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
	background: linear-gradient(to left, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%)
}

.movie-list-1 .listing-image img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.movie-list-1 .stars {
	position: absolute;
	left: 30px;
	bottom: 10px;
	width: 100%;
	z-index: 10
}

.movie-list-1 .stars .rating {
	color: #ffc741
}

.movie-list-1 .listing-image .play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 12;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.movie-list-1 .listing-image .play-btn .play-video {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0)
}

.movie-list-1:hover .listing-image .play-btn .play-video {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0 0 0 10px transparent;
	-moz-box-shadow: 0 0 0 10px transparent;
	box-shadow: 0 0 0 10px transparent
}

.movie-list-1:hover .listing-image .play-btn .play-video:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	-moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	box-shadow: 0 0 0 10px rgba(147, 82, 179, .4)
}

.movie-list-1 .listing-image .buttons {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 30px;
	color: #fff
}

.movie-list-1 .listing-image .buttons a {
	font-size: 18px;
	margin-right: 10px;
	opacity: .5
}

.movie-list-1:hover .listing-image .buttons a {
	opacity: 1
}

.movie-list-1 .listing-content {
	flex: 6;
	position: relative;
	text-align: center
}

.movie-list-1 .listing-content .inner {
	position: absolute;
	width: 100%;
	top: 50%;
	padding: 0 20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

.movie-list-1 .listing-content .inner .title {
	color: #fff;
	font-weight: 500
}

.movie-list-2 {
	display: block;
	background: #343a40;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 80px
}

main .col-md-12:last-of-type .movie-list-2 {
	margin-bottom: 30px
}

.movie-list-2 .listing-container {
	display: flex;
	height: 300px
}

.movie-list-2 .listing-image {
	flex: 4;
	position: relative
}

.movie-list-2 .listing-image .img-wrapper {
	max-width: 250px;
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	bottom: 20px;
	margin: 0 auto;
	background: #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, .2);
	box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, .2);
	overflow: hidden
}

.movie-list-2 .listing-image .img-wrapper:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #343a40;
	opacity: .6
}

.movie-list-2 .listing-image .img-wrapper img {
	object-fit: cover;
	width: 100%;
	height: 100%
}

.movie-list-2 .listing-image .play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 12;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.movie-list-2 .listing-image .play-btn .play-video {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0)
}

.movie-list-2:hover .listing-image .play-btn .play-video {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0 0 0 10px transparent;
	-moz-box-shadow: 0 0 0 10px transparent;
	box-shadow: 0 0 0 10px transparent
}

.movie-list-2:hover .listing-image .play-btn .play-video:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	-moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	box-shadow: 0 0 0 10px rgba(147, 82, 179, .4)
}

.movie-list-2 .listing-content {
	flex: 6;
	position: relative;
	text-align: center
}

.movie-list-2 .listing-content .inner {
	position: absolute;
	width: 100%;
	top: 50%;
	padding: 0 20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

.movie-list-2 .listing-content .inner .title {
	color: #fff;
	font-weight: 500
}

.movie-list-2 .listing-content .buttons {
	position: absolute;
	width: 100%;
	top: 10px;
	right: 10px;
	color: #fff;
	text-align: right
}

.movie-list-2 .listing-content .buttons a {
	font-size: 18px;
	margin-right: 10px;
	opacity: .5
}

.movie-list-2:hover .listing-content .buttons a {
	opacity: 1
}

.movie-list-2 .stars {
	position: absolute;
	right: 20px;
	bottom: 10px;
	width: 100%;
	z-index: 10;
	text-align: right;
	opacity: .5
}

.movie-list-2 .stars .rating {
	color: #ffc741
}

.movie-detail-intro {
	color: #fff;
	min-height: 500px;
	background-repeat: no-repeat!important;
	background-size: cover!important
}

.movie-detail-intro:before {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .7
}

.movie-detail-intro .movie-details {
	position: absolute;
	bottom: 100px;
	z-index: 5
}

.movie-detail-intro .title {
	color: #fff;
	font-weight: 500;
	padding: 0
}

.movie-detail-intro ul.movie-subtext,
.movie-detail-intro2 ul.movie-subtext {
	list-style: none;
	margin-bottom: 20px;
	padding: 0
}

.movie-detail-intro ul.movie-subtext li,
.movie-detail-intro2 ul.movie-subtext li {
	display: inline-block;
	opacity: .7
}

.movie-detail-intro ul.movie-subtext li:after,
.movie-detail-intro2 ul.movie-subtext li:after {
	content: '|';
	padding-left: 10px;
	padding-right: 4px
}

.movie-detail-intro ul.movie-subtext li:last-child:after,
.movie-detail-intro2 ul.movie-subtext li:last-child:after {
	display: none
}

.movie-detail-intro .rate-movie,
.movie-detail-intro2 .rate-movie {
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-left: 10px;
	opacity: .5;
	text-align: center;
	border: 1px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.movie-detail-intro .rate-movie:hover,
.movie-detail-intro2 .rate-movie:hover {
	opacity: 1
}

.movie-detail-intro .rate-movie i,
.movie-detail-intro2 .rate-movie i {
	font-size: 14px;
	padding: 0;
	width: 100%;
	position: absolute;
	left: 0
}

.movie-detail-intro .rating i,
.movie-detail-intro2 .rating i {
	color: #ffc741
}

.movie-detail-intro .rating span,
.movie-detail-intro2 .rating span {
	margin-left: 10px;
	opacity: .7
}

.movie-detail-intro .play-video {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30px;
	margin: 0 auto
}

.movie-detail-intro2 {
	margin-top: -300px
}

.movie-detail-intro2 .movie-poster {
	width: 300px;
	position: relative;
	float: left;
	margin-right: 50px;
	-webkit-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .25);
	-moz-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .25);
	box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .25)
}

.movie-detail-intro2 .movie-poster:before {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	bottom: 0;
	z-index: 8;
	opacity: 0;
	transition: all .6s ease
}

.movie-detail-intro2 .movie-poster:hover:before {
	opacity: .5
}

.movie-detail-intro2 .movie-poster .play-video {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0)
}

.movie-detail-intro2 .movie-poster:hover .play-video {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0 0 0 10px transparent;
	-moz-box-shadow: 0 0 0 10px transparent;
	box-shadow: 0 0 0 10px transparent
}

.movie-detail-intro2 .movie-poster:hover .play-video:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	-moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
	box-shadow: 0 0 0 10px rgba(147, 82, 179, .4)
}

.movie-detail-intro2 .movie-details {
	float: left;
	margin-top: 50px;
	color: #fff
}

.movie-detail-intro2 .movie-details .title {
	color: #fff;
	font-weight: 500;
	padding: 0;
	font-size:30px;
}

.movie-detail-main .title {
	font-weight: 500
}
.movie-detail-main h2.title{
	font-size: 30px;
}
.movie-detail-main ul.image-gallery {
	list-style: none;
	padding: 0
}

.movie-detail-main ul.image-gallery li {
	position: relative;
	display: inline-block;
	width: 32%;
	margin: 0 5px 5px 0
}

.movie-detail-main ul.image-gallery li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .3;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease
}

.movie-detail-main ul.image-gallery li:hover a:before {
	opacity: .6
}

.movie-detail-main ul.image-gallery li a:after {
	content: '\e023';
	font-family: simple-line-icons;
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease
}

.movie-detail-main ul.image-gallery li:hover a:after {
	opacity: .8
}

.movie-detail-main .sidebar .widget {
	border: 1px solid #ebebeb;
	padding: 35px
}
.movie-detail-main .sidebar .widget .title{
	margin-bottom: 20px;
}
.movie-detail-main .sidebar .widget-movie-cast .cast-wrapper,
.movie-detail-main .sidebar .widget-movie-details ul {
	list-style: none;
	padding: 0;
	color: #d7dae0;
}

.movie-detail-main .sidebar .widget-movie-cast .cast-wrapper li {
	/*margin-bottom: 20px*/
}

.movie-detail-main .sidebar .widget-movie-cast .cast-wrapper img {
	width: 60px;
	display: inline-block;
	margin-right: 20px
}

.movie-detail-main .sidebar .widget-movie-cast .cast-wrapper .name {
	display: inline-block;
	font-weight: 500;
	margin: .4rem 0;
}
.movie-detail-main .sidebar .widget-movie-cast .cast-wrapper span.fa-icon {
    font-size: 22px;
    margin-right: 6px;
}
.celebrity-list-1 {
	background: #edf5f7;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden
}

.celebrity-list-1 .celeb-container {
	display: flex
}

.celebrity-list-1 .celebrity-image {
	flex: 1;
	position: relative
}

.celebrity-list-1 .celebrity-image a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .3s ease
}

.celebrity-list-1:hover .celebrity-image a:before {
	opacity: .6
}

.celebrity-list-1 .celebrity-content {
	margin: auto 0;
	padding: 30px;
	flex: 3
}

.celebrity-list-1 .celebrity-content .title {
	font-weight: 500
}

.celebrity-list-1 .celebrity-content p {
	margin: 0
}

.celebrity-grid-1 {
	background: #edf5f7;
	margin-bottom: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden
}

.celebrity-grid-1 .celebrity-image {
	position: relative;
	max-height: 300px;
	overflow: hidden
}

.celeb-detail-intro:before,
.celebrity-grid-1 .celebrity-image a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.celebrity-grid-1 .celebrity-image a:before {
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.celebrity-grid-1:hover .celebrity-image a:before {
	opacity: .6
}

.celebrity-grid-1 .celebrity-content {
	padding: 30px
}

.celebrity-grid-1 .celebrity-content .title {
	font-weight: 500
}

.celebrity-grid-1 .celebrity-content p {
	margin: 0
}

.celeb-detail-intro {
	color: #fff;
	min-height: 600px;
	background-repeat: no-repeat!important;
	background-size: cover!important
}

.celeb-detail-intro:before {
	display: block;
	background: #000;
	opacity: .7
}

.celeb-detail {
	margin-top: -250px
}

.celeb-detail .celeb-img {
	width: 300px;
	height: 450px;
	-webkit-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .25);
	-moz-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .25);
	box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .25)
}

.celeb-detail .celeb-img img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.celeb-detail .celeb-details {
	margin-top: 50px
}

.celeb-detail .celeb-details .title {
	color: #fff;
	font-weight: 500;
	padding: 0
}

.celeb-detail .celeb-details .profession {
	color: #fff;
	opacity: .7
}

.celeb-detail .celeb-details .tab-links {
	margin-top: 70px
}

.celeb-detail .celeb-details .tab-links li {
	margin: 0
}

.celeb-detail .celeb-details .tab-links li a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	opacity: .5
}

.celeb-detail .celeb-details .tab-links li:first-child a {
	padding-left: 0
}

.celeb-detail .celeb-details .tab-links li a.active {
	opacity: 1
}

.celeb-detail .celeb-details .bio-description {
	width: 65%;
	margin-right: 30px;
	float: left
}

.celeb-detail .celeb-details .bio-details {
	width: 30%;
	float: left;
	border: 1px solid #ebebeb;
	padding: 30px
}

.celeb-detail .celeb-details .bio-details .bio-wrapper {
	list-style: none;
	padding: 0
}

.celeb-detail .celeb-details .bio-details .bio-wrapper li {
	padding-bottom: 10px
}

.celeb-detail .celeb-details .bio-details .bio-wrapper li h6 {
	margin: 0;
	font-weight: 500
}

.celeb-detail .celeb-details .film-list {
	padding: 0;
	list-style: none
}

.celeb-detail .celeb-details .film-list li {
	padding: 10px 0;
	border-bottom: 1px solid rgba(52, 58, 64, .2)
}

.celeb-detail .celeb-details .film-list li a {
	font-weight: 500
}

.celeb-detail .celeb-details .film-list li .year {
	font-style: italic;
	float: right;
	opacity: .7
}

.ajax-loading{
  display: flex;
  height: 20vh;
  /*align-items: center;*/
  justify-content: center;
}
.ajax-loading span{
	font-size: 25px;
}

header.header.header-fixed.header-transparent.text-white.scrolled {
    background: rgba(0, 0, 0, 0.83);
    position: fixed;
    transition: 0.5s;
}
header.header.header-fixed.header-transparent.text-white {
    transition: 0.5s;
}
@keyframes arrows {
  0%,
  100% {
    color: black;
    transform: translateY(0);
  }
  50% {
    color: #3AB493;
    transform: translateY(20px);
  }
}

.ajax-loading span {
  --delay: 0s;
  animation: arrows 1s var(--delay) infinite ease-in;
}
