/* General. */
div, p{
	font-family:Arial;
}

/* FWD font icon, this is used as a vector font.*/
@font-face {
  font-family: 'fwdicon';
  src:
    url("fonts/fwdicon.ttf?hojdd7') format('truetype"),
    url("fonts/fwdicon.woff?hojdd7') format('woff"),
    url("fonts/fwdicon.svg?hojdd7#fwdicon") format('svg');
  font-weight: normal;
  font-style: normal;
}

.fwdicon,
[class^="fwdicon-"]:before,
[class*=" fwdicon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fwdicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fwdicon-10:before {
  content: "\e900";
}
.fwdicon-AB:before {
  content: "\e901";
}
.fwdicon-author:before {
  content: "\e902";
}
.fwdicon-basket:before {
  content: "\e903";
}
.fwdicon-buffer:before {
  content: "\e904";
}
.fwdicon-calendar:before {
  content: "\e905";
}
.fwdicon-cast:before {
  content: "\e906";
}
.fwdicon-categories:before {
  content: "\e907";
}
.fwdicon-CC:before {
  content: "\e908";
}
.fwdicon-CC-off:before {
  content: "\e909";
}
.fwdicon-clipboard:before {
  content: "\e90a";
}
.fwdicon-close:before {
  content: "\e90b";
}
.fwdicon-comments:before {
  content: "\e90c";
}
.fwdicon-creepy-ghost:before {
  content: "\e90d";
}
.fwdicon-digg:before {
  content: "\e90e";
}
.fwdicon-down:before {
  content: "\e90f";
}
.fwdicon-download:before {
  content: "\e910";
}
.fwdicon-email:before {
  content: "\e911";
}
.fwdicon-embed:before {
  content: "\e912";
}
.fwdicon-facebook:before {
  content: "\e913";
}
.fwdicon-FF-left:before {
  content: "\e914";
}
.fwdicon-FF-right:before {
  content: "\e915";
}
.fwdicon-flash:before {
  content: "\e916";
}
.fwdicon-flikr:before {
  content: "\e917";
}
.fwdicon-fullscreen:before {
  content: "\e918";
}
.fwdicon-full-width:before {
  content: "\e919";
}
.fwdicon-gallery:before {
  content: "\e91a";
}
.fwdicon-gallery-fullscreen:before {
  content: "\e91b";
}
.fwdicon-gallery-minimise:before {
  content: "\e91c";
}
.fwdicon-ghost:before {
  content: "\e91d";
}
.fwdicon-google-plus:before {
  content: "\e91e";
}
.fwdicon-info:before {
  content: "\e91f";
}
.fwdicon-info-off:before {
  content: "\e920";
}
.fwdicon-instagram:before {
  content: "\e921";
}
.fwdicon-left:before {
  content: "\e922";
}
.fwdicon-left-arrow:before {
  content: "\e923";
}
.fwdicon-link:before {
  content: "\e924";
}
.fwdicon-linkedin:before {
  content: "\e925";
}
.fwdicon-loop:before {
  content: "\e926";
}
.fwdicon-love:before {
  content: "\e927";
}
.fwdicon-mail:before {
  content: "\e928";
}
.fwdicon-maps:before {
  content: "\e929";
}
.fwdicon-maximise:before {
  content: "\e92a";
}
.fwdicon-minimise:before {
  content: "\e92b";
}
.fwdicon-minus:before {
  content: "\e92c";
}
.fwdicon-min-width:before {
  content: "\e92d";
}
.fwdicon-music:before {
  content: "\e92e";
}
.fwdicon-normalscreen:before {
  content: "\e92f";
}
.fwdicon-pause:before {
  content: "\e930";
}
.fwdicon-phone:before {
  content: "\e931";
}
.fwdicon-photo:before {
  content: "\e932";
}
.fwdicon-pinterest:before {
  content: "\e933";
}
.fwdicon-play:before {
  content: "\e934";
}
.fwdicon-playlist:before {
  content: "\e935";
}
.fwdicon-playlist-close-sidebar:before {
  content: "\e936";
}
.fwdicon-playlist-sidebar:before {
  content: "\e937";
}
.fwdicon-plus:before {
  content: "\e938";
}
.fwdicon-projects:before {
  content: "\e939";
}
.fwdicon-quote:before {
  content: "\e93a";
}
.fwdicon-quote-thin:before {
  content: "\e93b";
}
.fwdicon-quote-thiner:before {
  content: "\e93c";
}
.fwdicon-reddit:before {
  content: "\e93d";
}
.fwdicon-reload-3:before {
  content: "\e93e";
}
.fwdicon-reply:before {
  content: "\e93f";
}
.fwdicon-right:before {
  content: "\e940";
}
.fwdicon-right-arrow:before {
  content: "\e941";
}
.fwdicon-right-arrow-thin:before {
  content: "\e942";
}
.fwdicon-right-arrow-thiner:before {
  content: "\e943";
}
.fwdicon-screen-maximise:before {
  content: "\e944";
}
.fwdicon-screen-minimise:before {
  content: "\e945";
}
.fwdicon-search:before {
  content: "\e946";
}
.fwdicon-settings:before {
  content: "\e947";
}
.fwdicon-share:before {
  content: "\e948";
}
.fwdicon-share-off:before {
  content: "\e949";
}
.fwdicon-shuffle:before {
  content: "\e94a";
}
.fwdicon-sound:before {
  content: "\e94b";
}
.fwdicon-sound-off:before {
  content: "\e94c";
}
.fwdicon-standard-post:before {
  content: "\e94d";
}
.fwdicon-sticky:before {
  content: "\e94e";
}
.fwdicon-tumblr:before {
  content: "\e94f";
}
.fwdicon-twitter:before {
  content: "\e950";
}
.fwdicon-uncast:before {
  content: "\e951";
}
.fwdicon-unlink:before {
  content: "\e952";
}
.fwdicon-up:before {
  content: "\e953";
}
.fwdicon-video-camera:before {
  content: "\e954";
}
.fwdicon-vimeo:before {
  content: "\e955";
}
.fwdicon-watch-later:before {
  content: "\e956";
}
.fwdicon-youtube:before {
  content: "\e957";
}

/* Buttons holder */
.info-holder{
	border-radius: 20px;
}

/* Buttons. */
.fwdsisc-button-normal{
	position:absolute;
	width:48px;
	height:48px;
	font-size: 16px !important;
	background-color:rgba(0,0,0,.6);
	color:#FFF;
	cursor: pointer;
}

.fwdsisc-button-selected{
	position:absolute;
	width:48px;
	height:48px;
	font-size: 16px !important;
	background-color:#FFF;
	color:#000;
	cursor: pointer;
}

.zoom-button .fwdsisc-button-normal{
	width: 16px;
	height: 16px;
	background-color: transparent;
}

.zoom-button .fwdsisc-button-selected{
	width: 16px;
	height: 16px;
	background-color: transparent;
	color: #FFF;
}

.fullscreen-button .fwdsisc-button-normal{
	width: 16px;
	height: 16px;
	background-color: transparent;
}

.fullscreen-button .fwdsisc-button-selected{
	width: 16px;
	height: 16px;
	background-color: transparent;
	color: #FFF;
}

.fwdsisc-count{
	font-family:myFont, Arial;
    display: inline-block !important;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.0 !important;
    letter-spacing: 0.03em !important;
    color: #888;
}

.fwdsisc-current{
	color:#FFFFFF;
}

.fwdsisc-count .separator{
	margin:0 3px;
}

.table-plugin-fwdsisc-button { 
	display: table;
	position:absolute;
	overflow: visible;
	width:100%;
	height:100%;

}

.table-cell-fwdsisc-plugin-button {
 	display: table-cell;
 	overflow: visible;
 	width:100%;
 	height: 100%;
 	vertical-align: middle;
 	text-align:center;
}

/* Demo 1 */
.demo-1{
	padding: 50px 0 !important;
}

.main-holder-1{
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
}

.main-holder-1 h4{
	display: block;
	font-family: Crimson;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 26px;
	text-align: center;
	margin: 25px 20px 0;
	padding: 0 30px 0;
	color: #FFF;
}

.main-holder-1 p{
	display: block;
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	margin: 10px 20px -3px;
	color: #FFF;
}

/* Demo 2 */
.demo-2{
	padding: 20px 0 !important;
}

.main-holder-2{
	box-sizing: border-box;
	text-align: center;
	margin: 6px 0 6px 0;
}

.main-holder-2 h4{
	display: inline-block;
	font-family: Crimson;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	margin: 20px;
	padding: 14px 30px 14px 30px;
	background: rgba(0,0,0, .6);	
	color: #FFF;
}

/* Demo 3 */
.demo-3{
	padding: 40px 0 140px !important;
}

.main-holder-3{
	position: relative;
	width: calc(100% - 60px);
	max-width: 500px;
	box-sizing: border-box;
	text-align: center;
	margin: 30px auto 30px;
}

.main-holder-3 p{
	font-family: Crimson;
	font-style: italic;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	padding: 14px 30px 14px 30px;
	background: rgba(0,0,0, .6);	
	color: #FFF;
}

.main-holder-3 img{
	position: absolute;
	top: -8px;
    left: 9px;
}

/* Demo 4 */
.demo-4{
	padding: 0 !important;
}

.main-holder-4{
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
}

.main-holder-4{
	box-sizing: border-box;
	display: block;
	text-align: left;
	margin: 0;
	padding: 0;
}

.main-holder-4-1 h4,
.main-holder-4 h4{
	display: inline-block;
	font-family: EB Garamond;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	text-align: left;
	text-transform: uppercase;
	margin: 26px 30px 25px;
	padding: 0;
	color: #FFF;
}

.main-holder-4-1{
	margin: -35px 0 5px;
}

/* Demo 5 */
.demo-5{
	padding: 10px 0 40px !important;
}

.main-holder-5{
	box-sizing: border-box;
	display: block;
	text-align: left;
	margin: 0;
	padding: 0;
}

.main-holder-5 h4,
.main-holder-5-1 h4{
	display: inline-block;
	font-family: Crimson;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	text-transform: uppercase;
	margin: 30px 0 0;
	padding: 14px 20px;
	background: #171717;
	color: #FFF;
}

.main-holder-5-1{
	margin: -20px 0 0;
}

/* Demo 6 */
.demo-6{
	padding: 0 !important;
}

.main-holder-6{
	box-sizing: border-box;
	text-align: center;
	margin: 30px;
	padding-bottom: 22px;
	background: rgba(0, 0, 0, 0.6);
}

.main-holder-6 h4{
	display: block;
	font-family: Crimson;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin: 25px 20px 0;
	padding: 19px 0 0;
	color: #FFF;
}

.main-holder-6 p{
	display: block;
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	margin: 10px 20px 0;
	color: #FFF;
}

/* Demo 7 */
.demo-7{
}

.main-holder-7{
	position: relative;
	box-sizing: border-box;
	max-width: 450px;
	margin: 30px;
	color: #FFF;
}

.main-holder-7 .holder{
	position: relative;
	top: 5px;
	left: 5px;
	padding: 20px 20px 20px 40px;
	background: rgba(0, 0, 0, 0.6);
}

.main-holder-7 .border{
	position: absolute;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	top: 0;
	border: 1px solid #FFF;
}

.main-holder-7 p{
	font-family: Crimson;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 30px;	
	margin: 0 0 5px 0;
}

.main-holder-7 cite{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
}

/* Demo 8 */
.demo-8{
}

.main-holder-8{
	position: relative;
	box-sizing: border-box;
	max-width: 450px;
	margin: 30px;
	color: #FFF;
}

.main-holder-8 p{
	display: block;
	font-family: Crimson;
	font-style: normal;
	font-size: 30px;
	line-height: 35px;
	margin: 0 0 5px 0;
}

.main-holder-8 cite{
	display: block;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
}

/* Demo 9 */
.demo-9{
	padding: 70px 0 160px !important;
}

/* Demo 10 */
.main-holder-10 p{
	display: block;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	text-align: center;
	margin: 20px;
	color: #FFF;
}

/* Demo 11 */
.demo-11{
	padding: 70px 0 !important;
}

.main-holder-11{
	box-sizing: border-box;
	text-align: center;
	margin: 10px auto;
	padding: 10px;
}

.main-holder-11 p{
	display: block;
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	margin: 10px 20px -3px;
	color: #FFF;
}

/* Demo 12 */
.main-holder-12{
	box-sizing: border-box;
	margin: 30px;
}

.main-holder-12 p{
	display: inline-block;
	font-family: Crimson;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	padding: 12px 30px;
	background: rgba(0,0,0,.6);
	color: #FFF;
}

/* Fix captions on smaller screens */
@media screen and (max-width: 500px){

	/* Demo 1 */
	.main-holder-1 h4{
		font-size: 20px;
		line-height: 22px;
	}

	/* Demo 3 */
	.main-holder-3{
		width: calc(100% - 40px);
		margin: 20px auto;
	}

	.main-holder-3 p{
		font-size: 20px;
    	line-height: 24px;
    	padding: 14px 20px;
	}

	/* Demo 4 */
	.main-holder-4-1 h4,
	.main-holder-4 h4{
		font-size: 20px;
		line-height: 20px;
	}

	/* Demo 5 */
	.main-holder-5 h4,
	.main-holder-5-1 h4{
		font-size: 16px;
    	line-height: 20px;
	}

	/* Demo 6 */
	.main-holder-6{
		margin: 20px;
	}
	
	/* Demo 7 */
	.main-holder-7 p {
    	font-size: 20px;
    	line-height: 25px;
    }

    /* Demo 8 */
    .main-holder-8{
    	margin: 20px;
    }
	
	.main-holder-8 p{
	    font-size: 24px;
	    line-height: 30px;
	}

	/* Demo 12 */
	.main-holder-12{
		margin: 20px;
	}

	.main-holder-12 p{
		font-size: 16px;
		line-height: 20px;
	}
}

.FWDSISC{
	box-sizing: content-box;
}

.FWDSISC .fwd-holder > div{
	overflow: visible !important;
}

.FWDSISC-clear-padding{
	padding: 0  !important;
}